/*
|--------------------------------------------------------------------------
| Account Button Styles
|--------------------------------------------------------------------------
*/

$account-button: (
    'font-weight': 600,
    'background': #ffffff,
    'color': inherit,
    'icon': (
        'background': palette('blue', 'light'),
        'color': #ffffff
    )
) !default;

account-button,
[account-button],
.account-button {
    display: block;
    width: 100%;
    padding: 0;
    text-transform: none;
    font-weight: map-get($account-button, 'font-weight');

    // Button wrapper
    .action-button-wrapper {
        width: 100%;
        display: table;
    }

    // Text and icon sides
    .button-text, .button-icon {
        display: table-cell;
        vertical-align: middle;
        height: rem-calc(60);
    }
    
    // Text side
    .button-text {
        padding: rem-calc(0 20);
        text-align: left;
        color: map-get($account-button, 'color');
        background-color: map-get($account-button, 'background');
        width: 70%;
    }
    
    // Icon side
    .button-icon {
        background-color: map-deep-get($account-button, 'icon', 'background');
        color: map-deep-get($account-button, 'icon', 'color');
        padding: rem-calc(0 40);
        width: 100%;
        i {
            vertical-align: middle;
            font-size: rem-calc(30);
        }
    }
}