<main class="results-page">
   <section class="page-banner"></section>

   <section class="subtitle">
      <h2>Results</h2>
   </section>

   <section class="content-with-sidebar">
      <div class="row">
         <article>
            <!-- List of lottery results -->
            <div class="lottery-results">
               <lottery-draw-history ng-if="lotteryResult.lotteryHistory" history="lotteryResult.lotteryHistory"></lottery-draw-history>
            </div>
         </article>

         <!-- playslip -->
         <aside>
            <playslip></playslip>
         </aside>
      </div>
   </section>
</main>
