/**
 * Game style modal
 */
.ngdialog.ngdialog-theme-7lotto.game {

    // Main content wrapper
    .ngdialog-content {
        border-radius: 10px;
    }

    // Close button
    .ngdialog-close {
        background-color: $white;
        color: $body-color;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        line-height: 30px;
        border-radius: 100%;
        font-size: 20px;
        font-weight: bold;
        top: 10px;
        right: 10px;
        @include breakpoint(large up) {
            top: -30px;
            right: -30px;
        }
    }

    // Content area
    .dialog-content {
        border-radius: inherit;
    }

    // Choose option bar
    ul.choose-bar {
        @include clearfix;
        margin: 0;
        padding: 0;
        list-style: none;
        box-shadow: $global-drop-shadow;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.26);
        li {
            width: 33.33333%;
            float: left;
            border-radius: 0;
            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        .md-button {
            margin: 0;
            width: 100%;
            border-radius: inherit;
            background-color: $white;
            color: $body-color;
            &.selected {
                background-color: #888888; // #01579B;
                color: $white;
            }
        }

        // Week counter style
        &.week-counter {
            .md-button {
                font-size: rem-calc(18);
            }
        }
    }


    // Summary
    .summary {
        .summary-info {
            background-color: $white;
            padding: 15px;
            color: $body-color;
            margin-bottom: 1rem;
            border-radius: $global-border-radius;
            :last-child {
                margin-bottom: 0;
            }
        }
        .checkout {
            width: 100%;
            background-color: $primary-color!important;
            color: white;
        }
    }
}


@include breakpoint(small down) {
    .ngdialog.ngdialog-theme-7lotto.game {
        padding: 0 !important;

        .flexbox & {
            display: flex;
        }

        .ngdialog-content {
            max-width: none;
            border-radius: 0;
            max-height: none;
            top: 0;
            transform: none;
            left: 0;
            width: 100%;
        }
    }
}
