/*
|--------------------------------------------------------------------------
| General Modal Styles
|--------------------------------------------------------------------------
*/

$ngdialog: (
    'z-index': 11,
    'overlay': (
        'z-index': 10,
        'background': rgba(#222, 0.8)
    ),
    'padding': 15px,
    'header': (
        'height': 60px
    ),
) !default;


/**
 * General modal styles
 */
.ngdialog.ngdialog-theme-7lotto {
    //z-index: $mega-modal-z;
    padding: 30px 0 0 0;

    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;


    // Overlay styles
    .ngdialog-overlay {
        z-index: map-deep-get($ngdialog, 'overlay', 'z-index');
        background-color: map-deep-get($ngdialog, 'overlay', 'background');
        -webkit-backface-visibility: hidden;
    }

    // Main content wrapper
    .ngdialog-content {
        margin: 0 auto;
        background-color: $white;
        position: relative;
        line-height: normal;
        box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
        min-width: 240px;
        max-width: 90%;
        z-index: map-deep-get($ngdialog, 'overlay', 'z-index') + 1;
        //overflow: hidden;
    }

    // Close button
    .ngdialog-close {
        position: absolute;
        color: $white;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        width: auto;height: auto;
        text-align: center;
        height: auto;
        width: auto;
        position: absolute;
        top: 12px;
        right: map-get($ngdialog, 'padding');
        &:before {
            display: block;
            vertical-align: top;
            margin: 0;
            padding: 0;
        }
    }

    // Dialog header
    .dialog-header {
        background-color: $primary-color;
        padding: rem-calc(0 map-get($ngdialog, 'padding'));
        height: map-deep-get($ngdialog, 'header', 'height');
        line-height: map-deep-get($ngdialog, 'header', 'height');
        h1 {
            font-size: rem-calc(20);
            margin: 0;
            line-height: inherit;
        }
    }

    // Content area
    .dialog-content {
        padding: rem-calc(map-get($ngdialog, 'padding'));
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}


@include breakpoint(medium down) {
    .ngdialog.ngdialog-theme-7lotto {
        padding-top: 0;

        .ngdialog-content {
            max-height: 95vh;
            top: 5vh;
            transform: translateY(-2.5vh);
            overflow-y: auto;
        }
    } 
}



@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto {
        padding-top: 50px;

        // Overlay styles
        .ngdialog-overlay {

        }

        // Main content wrapper
        .ngdialog-content {
            max-width: 700px;
        }

        // Close button
        .ngdialog-close {

        }
    }
}









