<header class=dialog-header>
  <h1>Register</h1>
</header>
<section class=dialog-content>
   <!-- Feedback messages -->
   <feedback-message class=error ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>

   <!-- Processing -->
   <md-progress-circular ng-show=vm.feedback.processing md-diameter=120></md-progress-circular>   

   <!-- Input / Actions -->
   <form name=registerForm ng-hide=vm.feedback.processing ng-submit=vm.register() novalidate>
      <!-- First name -->
      <md-input-container md-no-float>
         <label>First Name</label>
         <input type=text ng-model=vm.registerData.firstName name=firstName required>
         <div ng-messages=registerForm.firstName.$error>
            <div ng-message=required>Please enter a valid first name</div>
         </div>
      </md-input-container>

      <!-- Last name -->
      <md-input-container>
         <label>Surname</label>
         <input type=text ng-model=vm.registerData.lastName name=lastName required>
         <div ng-messages=registerForm.lastName.$error>
            <div ng-message=required>Please enter a valid surname</div>
         </div>
      </md-input-container>

      <!-- Email address -->
      <md-input-container>
         <label>Email Address</label>
         <input type=email ng-model=vm.registerData.email name=email required ng-pattern=/^.+@.+\..+$/ >
         <div ng-messages=registerForm.email.$error>
            <div ng-message-exp="['required', 'email']">Please enter a valid email addresss</div>
         </div>
      </md-input-container>

      <!-- Password -->
      <md-input-container>
         <label>Password</label>
         <input type=password ng-model=vm.registerData.password name=password required>
         <div ng-messages=registerForm.password.$error>
            <div ng-message=required>Please enter a password</div>
         </div>
      </md-input-container>

      <!-- Phone number -->
      <md-input-container>
         <label>Phone Number</label>
         <input type=text ng-model=vm.registerData.phone name=phone required>
         <div ng-messages=registerForm.phone.$error>
            <div ng-message=required>Please enter a valid phone number</div>
         </div>
      </md-input-container>

      <!-- Terms and conditions -->
      <md-checkbox ng-model=vm.registerData.terms aria-label="Terms &amp; Conditions">
      I have read and accept Terms and Conditions
      </md-checkbox>

      <!-- Login button -->
      <div class=register-actions>
         <md-button class="md-raiased secondary large" type=submit>Start your Free Trial</md-button>
      </div>
   </form>
</section>