<main class="account-page">
   <section class="page-banner">

   </section>

   <article>
      <!-- Introduction section -->
      <section class="intro">
         <h2>My Account</h2>
         <h5>... Choose an option from below to continue</h5>
      </section>
      
      <!-- Manage my account -->
      <section class="actions">
         <h5>Manage my account</h5>
         <ul class="action-buttons">
            <li><account-button ng-click="AccountPage.deposit($event)" icon="&#xE870;">Deposit</account-button></li>
            <li><account-button ng-click="AccountPage.withdraw($event)" icon="&#xE8B1;">Withdraw</account-button></li>
            <li><account-button ng-click="AccountPage.transactionHistory($event)" icon="&#xE8B5;">Transaction History</account-button></li>
            <li><account-button ng-click="AccountPage.purchaseHistory($event)" icon="&#xE8B0;">Purchase History</account-button></li>
         </ul>
      </section>
      
      <!-- Personal details -->
      <section class="actions">
         <h5>Update Personal Details</h5>
         <ul class="action-buttons">
            <li><account-button ng-click="AccountPage.updateEmail($event)" icon="&#xE158;">Update Your Email</account-button></li>
            <li><account-button ng-click="AccountPage.updatePassword($event)" icon="&#xE0DA;">Update Your Password</account-button></li>
            <li><account-button ng-click="AccountPage.updateAddress($event)" icon="&#xE0BA;">Update Your Address</account-button></li>
         </ul>
      </section>
      
      <!-- Responsible gaming -->
      <section class="actions">
         <h5>Responsible Gaming</h5>
         <ul class="action-buttons">
            <li><account-button ng-click="AccountPage.depositLimits($event)" icon="&#xE84F;">Deposit Limits</account-button></li>
            <li><account-button ng-click="AccountPage.wagerLimits($event)" icon="&#xE30F;">Wager Limits</account-button></li>
            <li><account-button ng-click="AccountPage.lossLimits($event)" icon="&#xE925;">Loss Limits</account-button></li>
            <li><account-button ng-click="AccountPage.selfExclusion($event)" icon="&#xE426;">Self Exclusion &amp; Cool Off</account-button></li>
         </ul>
      </section>
      
      <!-- Subscriptions -->
      <section class="tickets">
         <h5 class="title">Active purchases</h5>
         <div class="ticket-list">
            <div class="ticket-wrapper" ng-repeat="ticket in AccountPage.tickets track by $index">
               <div class="ticket">
                  <header>
                     <img ng-src="assets/images/lotteries/{{ ticket.drawTypeId }}.png">
                     <h5>{{ ticket.name }}</h5>
                  </header>
                  <ul class="numbers" ng-repeat="lines in ticket.tickets">
                     <li ng-repeat="number in lines.primaryNumbers"><button>{{ number }}</button></li>
                     <li class="secondary" ng-repeat="number in lines.secondaryNumbers"><button>{{ number }}</button></li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
   </article>
</main>