/*
|--------------------------------------------------------------------------
| Account Page
|--------------------------------------------------------------------------
*/

@mixin number-per-row($number: 7, $margin: 2px) {
    margin: $margin;
    width: calc(100% / #{$number - #{$margin * 2}});
    padding: calc(100% / #{$number - #{$margin * 2}}) 0 0 0;
}


/*
|--------------------------
| Mobile Up
|--------------------------
*/
main.account-page {

    // Main content wrapper
    > article {
        @include grid-container;
    }

    // Introduction section
    .intro {
        padding: rem-calc(50 0);
        > *:first-child {
            color: palette('blue', 'darkest');
            line-height: 1;
        }
        > *:last-child {
            color: $body-color;
        }
    }

    // Action sections
    .actions {
        margin-bottom: rem-calc(20);
        h1, h2, h3, h4, h5, h6 {
            color: palette('blue', 'base');
            border-bottom: 2px solid palette('blue', 'dark');
        }
        .action-buttons {
            @include grid-row;
            padding: 0;
            list-style: none;
            > li {
                @include grid-column(1 of 1);
                margin-bottom: rem-calc(20);
            }
        }
    }

    // Active subscriptions / tickets
    .tickets {
        margin-bottom: rem-calc(50);
        .title {
            color: palette('blue', 'base');
            border-bottom: 2px solid palette('blue', 'dark');
        }

        .ticket-list {
            @include grid-row;
        }

        .ticket-wrapper {
            @include grid-column(1 of 5);
        }

        .ticket {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            background-color: $white;
            padding: 15px;
            margin-bottom: 20px;

            header {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                img {
                    width: 50px;
                    height: 50px;
                }
                h5 {
                    color: palette('blue', 'base');
                    font-size: rem-calc(20);
                    margin: 0;
                    padding-left: 15px;
                }
            }
            
            .numbers {
                @include clearfix;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    @include number-per-row(9, 1px);
                    position: relative;
                    display: block;
                    float: left;
                    position: relative;
                    height: auto;
                    border-radius: 100%;
                    color: #fff;
                    button, button:hover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                        border-radius: 100%;
                        outline: none;
                        //background-color: #01B0ED;
                        border: 2px solid #01B0ED;
                        background-color: #fff;
                        color: #01B0ED;
                        font-size: rem-calc(14);
                        font-weight: bold;
                        cursor: default;
                    }
                    &.secondary {
                        button, button:hover {
                            background-color: #01B0ED;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}


/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium up) {
    main.account-page {

        // Action sections
        .actions {
            .action-buttons {
                > li {
                    @include grid-col-size(1 of 2);
                    @include grid-gutter($sides: bottom);
                }
            }
        }
    }
}

/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    main.account-page {

        // Action sections
        .actions {
            .action-buttons {
                > li {
                    @include grid-col-size(1 of 4);
                }
            }
        }
    }
}

