/*
|--------------------------------------------------------------------------
| Side navigation
|--------------------------------------------------------------------------
*/

$sidenav-background             : blue; //$primary-color !default;
$sidenav-z-index                : 3 !default;

$sidenav-width-mobile           : 100% !default;
$sidenav-width-desktop          : 300px !default;

// Close button height (needs to be same as header)
$sidenav-close-height-mobile    : 50px !default;
$sidenav-close-height-tablet    : 60px !default;
$sidenav-close-height-desktop   : 80px !default;

// Sidenav backdrop
$sidenav-backdrop-z             : 59 !default;
$sidenav-backdrop-opacity       : 0.48 !default;
$sidenav-backdrop-bg            : rgba(33,33,33,1.0) !default;

/**
 * Backdrop styles
 */
.sl-sidenav-backdrop {
    background-color: $sidenav-backdrop-bg;
    z-index: $sidenav-backdrop-z;
    opacity: $sidenav-backdrop-opacity;
    transition: opacity 400ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.ng-enter, &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
        opacity: $sidenav-backdrop-opacity;
    }
}


/**
 * Sidenav styles
 */
.sl-sidenav {
    background-color: $white;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    font-size: 15px;
    top: 0;
    //z-index: 2000;
    z-index: 60;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    width: $sidenav-width-mobile;
    right: -#{$sidenav-width-mobile};
    display: flex;
    flex-direction: column;
    top: 60px;

    // Open nav style
    &.sl-sidenav-open {
        right: 0;
    }

    // Playslip styles
    md-toolbar.header,
    article.playslip {
        border-radius: 0;
    }
}

.sidenav-open {

    // Page header
    .page-header-two {
        z-index: 59;
    }

    // Page header mobile toggle
    .page-header-two .mobile-actions .toggle-menu {
        display: none;
    }

    // Page header playslip toggle
    .page-header-two .mobile-actions .toggle-playslip {
        display: block;
    }
}

/*
|------------------------------------
| Tablet up styles
|------------------------------------
*/
@include breakpoint(medium) {
    .sl-sidenav {
        width: $sidenav-width-desktop;
        right: -#{$sidenav-width-desktop};
    }
}


// /*
// |------------------------------------
// | Desktop up styles
// |------------------------------------
// */
@include breakpoint(large) {
    .sl-sidenav {
        display: none;
    }
}