$results-mediumblue: #5FA8F1;
$results-orange: #FF5722;
$reults-gray: #AAAAAA;
$results-darkblue : #4172BE;


.drawPrize{
  margin-top: 50px;
  .drawHeader{
    margin-bottom: 40px;
    .logo{
      width: 70px;
      height: 70px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .name{
      margin-left: 20px;
      h2{
        margin: 0;
        color: $results-mediumblue;
        line-height: 1;
        font-size: 28px;
      }
    }
    .ball{
      width: 40px;
      height: 40px;
      border-radius: 25px;
      background: red;
      color: white;
      margin-right: 5px;
    }
    .ball.primary{
      background:$results-mediumblue;
    }
    .ball.secondary{
      background: $results-orange;
    }
    .jackpot{
      margin: 10px 0;
      font-size: 20px;
    }
  }
  .prevNextLotteries{
    .mainButtons{
      font-size: 16px;
      padding: 10px 15px;
    }
    .arrowBtn{
      background: $results-orange;
      color: white;
      border-radius: 25px;
      padding:0 25px;
      font-size: 18px;
      font-weight: bold;
      i{
        font-size: 30px;
      }
    }
  }
  .drawPrizesWrap{
    position: relative;
    .head{
      margin-top: 20px;
      border-bottom: 1px solid $reults-gray;
      h2{
        color: $results-mediumblue;
      }
    }
    min-height: 350px;
    .drawRow{
      margin: 10px 0;
      padding: 5px 25px;
      border-radius: 25px;
      border:1px solid $reults-gray;
      .bigText{
        font-size: 20px;
      }

    }
    .playText{
      line-height: 2em;
      text-align: center;
    }
    .playText .chance{
      font-size: 24px;
      color: $results-mediumblue;
    }
    .playText .play{
      font-size: 18px;
      color: $results-orange;
    }
    .playBtn{
      background: $results-orange;
      color: white;
    }
  }
}
