/*
|--------------------------------------------------------------------------
| Results Page
|--------------------------------------------------------------------------
*/
$results-mediumblue: #5FA8F1;
$results-orange: #FF5722;
$reults-gray: #AAAAAA;
$results-darkblue : #4172BE;

.lottery-results{
	lottery-draw-prize-breakdown{
		width: 100%;
	}
}
/*
|--------------------------
| Mobile Up
|--------------------------
*/
main.results-page {
	// Lottery results wrapper
	.lottery-results {
		@include grid-row;
		margin-bottom: 1rem;
		//border: 1px dashed black;
	}
	// Result column wrapper
	.result-column {
		@include grid-column(1 of 1);
		@include grid-gutter($sides: bottom);
		//border: 1px solid green;
	}
	// Result item
	.result-item {
		//border: 1px solid red;
		margin-bottom: rem-calc(10);
	}
}
/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
	main.results-page {
		// Lottery results wrapper
		.lottery-results {}
		// Result column wrapper
		.result-column {
			@include grid-col-size(1 of 2);
		}
		// Result item
		.result-item {}
	}
}
