<header class="dialog-header">
  <h1>Send us a Message</h1>
</header>
<section class="dialog-content">
   <!-- Processing -->
   <md-progress-circular ng-show="vm.processing" md-diameter="120"></md-progress-circular> 
   
</section>