/*
|--------------------------------------------------------------------------
| How to Play Page
|--------------------------------------------------------------------------
*/


/*
|--------------------------
| Mobile Up
|--------------------------
*/
main.how-page {

}


/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium up) {
    main.how-page {

    }
}


/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    main.how-page {

    }
}

