<main class="how-page">
   <section class="page-banner">
   </section>

   <section class="subtitle">
      <h2>How to play</h2>
   </section>

   <section class="content-with-sidebar">
      <div class="row">
         <article>
            <div class="box">
               <div class="padding">
                  <h3>FAQ</h3>
               </div>
            </div>
         </article>
         <aside>
            <div class="box">
               <h4>Get In Touch</h4>
               <div class="padding">
                  <p>Our live chat facility is open from 8am to 4pm CET daily.</p>
                  <md-button class="md-raised primary">
                     Start Chat
                  </md-button>
               </div>
               <hr />
               <div class="padding">
                  <p>If you'd rather get in touch via email, you can send a message at any time to support@7lottos.com and we will endeavour to respond to your enquiry as soon as possible.</p>
                  <md-button class="md-raised primary">
                     Send a message
                  </md-button>
               </div>
            </div>
         </aside>
      </div>
   </section>
</main>