<article class=lottery-result-item>
   <!-- Lottery Header -->
   <header ng-style="{'background-image': 'url(./assets/images/flags/full/{{ vm.data.drawTypeId }}.jpg)'}">
      <div class=name>
         <img ng-src="assets/images/lotteries/{{ vm.data.drawTypeId }}.png" alt="{{ vm.data.name }}">
         <h5>{{ vm.data.name }}</h5>
      </div>
      <div class=jackpot>
         <h2>{{ vm.data.jackpotAmountCurrency }} {{ vm.data.jackpotAmount / 100 | jackpot }} <!-- <small>M</small> --></h2>
         <span calass=jackpot-type>Final Jackpot</span>
      </div>
   </header>
   
   <!-- Lottery main information section -->
   <section class=info>
      <h5>Draw Results</h5>
      <small>{{ vm.data.drawDateTime | date:'MM/dd/yyyy' }}</small>

      <div class=numbers>
         <h6>Primary Numbers</h6>
         <ul>
            <li ng-repeat="number in vm.data.primaryNumbers track by $index"><button>{{ number }}</button></li>
         </ul>

         <h6>Secondary Numbers</h6>
         <ul>
            <li class=secondary ng-repeat="number in vm.data.secondaryNumbers track by $index"><button>{{ number }}</button></li>
         </ul>
      </div>
   </section>
   
   <!-- Lottery footer -->
   <footer>
      <md-button><md-icon>&#xE88F;</md-icon> Learn More</md-button>
      <md-button class="md-accent md-raised" ng-click=vm.play()>Play Now!</md-button>
   </footer>
</article>