<!-- draw history starts -->
<section class=drawHistory>
  <!-- header -->
  <div layout=row layout-align="start center" class=drawHeader>
    <div class=logo>
      <img alt={{drawCtrl.lotteryName}} ng-src=assets/images/lotteries/{{drawCtrl.drawTypeId}}.png>
    </div>
    <div layout=column class=name>
      <h2>{{drawCtrl.lotteryName}}</h2>
      <div>
        <span>Next Draw: {{drawCtrl.compareDates(drawCtrl.nextDraw) | formatDate}} </span>
        <span>({{drawCtrl.calculateTime(drawCtrl.compareDates(drawCtrl.nextDraw)).daysLeft}}:</span>
        <span>{{drawCtrl.calculateTime(drawCtrl.compareDates(drawCtrl.nextDraw)).hoursLeft}}:</span>
        <span>{{drawCtrl.calculateTime(drawCtrl.compareDates(drawCtrl.nextDraw)).minutesLeft}}:</span>
        <span>{{drawCtrl.calculateTime(drawCtrl.compareDates(drawCtrl.nextDraw)).secondsLeft}})</span>
      </div>
    </div>
  </div>
  <!-- header -->

  <!-- draws -->
  <div layout=column class=drawsWrap>
    <!-- draw row -->
    <div layout-gt-md=row layout-gt-sm=column layout-gt-xs=column layout-xs=column class=drawRow layout-align-gt-md="space-between center" layout-align-gt-sm="center center" layout-align-gt-xs="center center" layout-align-xs="center center" ng-repeat="row in drawCtrl.history | pagination: drawCtrl.curPage * drawCtrl.pageSize | limitTo: drawCtrl.pageSize track by $index">
      <!-- draw date -->
      <div class="bigText margin-between">
        {{row.drawDateTime | formatDate}}
      </div>
      <!-- draw date ends -->

      <!-- draw numbers -->
      <div layout=row class=margin-between>
        <div class="ball primary" layout=row layout-align="center center" ng-repeat="num in row.primaryNumbers track by $index">
          {{num}}
        </div>
        <div class="ball secondary" layout=row layout-align="center center" ng-repeat="num in row.secondaryNumbers track by $index">
          {{num}}
        </div>
      </div>
      <!-- draw numbers ends -->

      <!-- draw jackpot ammount -->
      <div class="bigText margin-between" ng-if="row.prize.prizes[0].amount > 0" flex-gt-md=10>
        {{row.jackpotAmountCurrency}} {{row.prize.prizes[0].amount | jackpot}}
      </div>
      <div class="bigText margin-between" ng-if="row.prize.prizes[0].amount === 0" flex-gt-md=10>
        Rollover
      </div>
      <!-- draw jackpot ammount ends -->

      <div class=margin-between>
        <md-button class=prizeBreakdownBtn ng-click=drawCtrl.prizeBreakdown(row.drawDateTime,row.drawId)>Prize Breakdown</md-button>
      </div>
    </div>
    <!-- draw row ends -->

    <!-- pagination -->
    <div class=pagination-div layout=row layout-align="end center" ng-show=drawCtrl.history.length>
      <md-button ng-disabled="drawCtrl.curPage == 0" ng-click=drawCtrl.prev()>PREV</md-button>
      <span>Page {{drawCtrl.curPage + 1}} of {{ drawCtrl.numberOfPages() }}</span>
      <md-button ng-disabled="drawCtrl.curPage >= drawCtrl.history.length/drawCtrl.pageSize - 1" ng-click=drawCtrl.next()>NEXT </md-button>
    </div>

  </div>
  <!-- draws ends -->

</section>
<!-- draw history ends -->
