/*
|--------------------------------------------------------------------------
| Single line Modal
|--------------------------------------------------------------------------
*/

$single-line-padding: 20px;


// Calculates with / height and margin for the number circles
@mixin number-per-row($number: 7, $margin: 2px) {
    margin: $margin;
    width: calc(100% / #{$number - #{$margin * 2}});
    padding: calc(100% / #{$number - #{$margin * 2}}) 0 0 0;
}

%lottery-number {
    @include number-per-row(5, 5px);
    position: relative;
    display: block;
    float: left;
    position: relative;
    height: auto;
    border-radius: 100%;
    color: #fff;
    .md-button {
        min-width: 0;
        border-radius: 100%;
        border: 0;
        border: 2px solid #01b0ed;
        color: $body-color;
    }
    button {
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        border-radius: inherit;
        border: 2px solid #01b0ed;
        font-size: 90%;
        font-weight: 400;

        min-width: 0;
        //background-color: #01b0ed;
        border-radius: 100%;
        //border: 0;
        color: inherit;
        font-size: rem-calc(26);
        font-weight: bold;
    }
    // button:hover, button.selected {
    //     background-color: #01b0ed;
    //     color: #fff;
    // }
    button:hover {
        background-color: rgba(#01b0ed, 0.3);
        border-color: rgba(#01b0ed, 0.3);
        color: #fff;
    }
    &.selected button {
        background-color: #01b0ed;
        color: #fff;
        &:hover {
            border-color: rgba(#01b0ed, 0.3);
        }
    }
}



.ngdialog.ngdialog-theme-7lotto.single-line-modal {

    // Content area
    .dialog-content {
        padding: 0;
    }

    // Number picker & lotto info section
    article.info {
        background-color: $white;
        color: $body-color;
        padding: rem-calc($single-line-padding);

        // Header
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
            .logo > img {
                max-width: 80px;
                display: block;
                margin: 0;
                max-height: 80px;
                height: auto;
            }
            .jackpot {
                > h2 {
                    color: $secondary-color;
                    margin: 0;
                    line-height: 1;
                    font-size: rem-calc(48);
                    small {
                        text-transform: capitalize;
                        color: inherit;
                        font-size: 45%;
                    }
                }
                > small {
                    text-align: left;
                    font-weight: $font-weight-bold;
                    font-size: rem-calc(16);
                }
            }
        }
    }

    // Dotted box
    .dotted-box {
        border: 2px dashed $dark-gray;
        padding: 15px;
        border-radius: $global-border-radius;
    }

    // Lucky dip section
    .lucky-dip {
        margin-bottom: 1.5rem;
        text-align: right;
        h6 {
            color: $dark-gray;
            margin-bottom: rem-calc(10);
            text-align: left;
            line-height: normal;
        }
        .md-button {
            display: inline-block;
            margin-left: auto;
            margin-bottom: rem-calc(10);
        }
        md-progress-linear {
            .md-container {
                height: 10px;
            }
            .md-bar {
                height: inherit;
            }
        }
    }

    // Number picker
    .number-picker {
        margin-bottom: rem-calc(20);
        &:last-of-type {
            margin-bottom: 0;
        }
        h6 {
            color: #01b0ed;
            font-size: rem-calc(20);
            margin-bottom: rem-calc(5);
        }
        ul {
            @include clearfix;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-y: scroll;
            margin-left: -5px;
            margin-right: -5px;
            max-height: 300px;
        }
        li {
            @extend %lottery-number;
            @include number-per-row(6, 2px);
            button {
                font-size: 15px;
            }
        }
    }



    // Receipt section
    aside.receipt {
        background-color: $secondary-color;
        color: $white;
        padding: rem-calc($single-line-padding);

        > section {
            //border: 1px dashed red;
            margin-bottom: 1rem;
            > h5 {
                margin-bottom: 0;
                font-size: rem-calc(20);
            }
        }
    }
    
    // Ticket list
    .ticket-list {
        margin-bottom: 1rem;

        // Choose number button for mobile
        .choose-numbers {
            margin: rem-calc(5 0 10 0);
        }

        .list {
            background-color: $white;
            border-radius: $global-border-radius;
            padding: 15px 10px;
            color: $body-color;
            margin: 0;
            list-style: none;
            max-height: 200px;
            overflow-y: scroll;
            margin-bottom: 0.5rem;
        }
        .ticket-error {
            color: red;
            padding: 0 2.5px;
        }
        .ticket {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            margin-bottom: rem-calc(5); // rem;
            .numbers {
                @include clearfix;
                margin: 0;
                padding: 0;
                list-style: none;
                width: 100%;
                li {
                    @extend %lottery-number;
                    @include number-per-row(10, 2px);
                    color: $body-color;
                    button {
                        font-size: 90%;
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 0;
                        outline: none;
                    }
                    &:hover button {
                        background-color: $white;
                        color: $body-color;
                        cursor: default;
                    }
                    &.secondary button {
                        background-color: palette('blue', 'base');
                        color: $white;
                    }
                }
            }
            > .md-button {
                min-width: 0;
            }
        }

        .day-picker {
            @include clearfix;
            .md-button {
                display: block;
                float: left;
                margin-right: 3px;
                background-color: $white;
                color: $body-color;
                min-width: 0;
                min-width: 60px;
                &:not([disabled]):not(.selected) {
                    &:hover, &.md-focused {
                        background-color: darken($white, 10%);
                    }
                }
                &.selected {
                    background-color: #888888; //#01579B;
                    color: $white;
                }
            }
        }
    }
}

@include breakpoint(small down) {
    .ngdialog.ngdialog-theme-7lotto.single-line-modal {
        
        .dialog-content {
            display: flex;
            height: 100%;
        }

        article.info, aside.receipt {

        }

    }
}

@include breakpoint(medium up) {
    .ngdialog.ngdialog-theme-7lotto.single-line-modal {

        // Number picker
        .number-picker {
            li {
                @include number-per-row(12, 5px);
                button {
                    font-size: 25px;
                }
            }
        }
    }
}

@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.single-line-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 1000px;
        }

        // Content area
        .dialog-content {
            display: flex;
            flex-direction: row;
        }

        // Number picker & lotto info section
        article.info {
            width: 60%;
        }

        // Receipt section
        aside.receipt {
            width: 40%;
        }

        // Number picker
        .number-picker {
            li {
                @include number-per-row(9, 5px);
            }
        }

        // Chosing numbers thing for mobile
        .choose-numbers {
            display: none;
        }
    }
}