<header class=dialog-header>
  <h1>Deposit Limits</h1>
</header>
<section class=dialog-content>
    <!-- Processing -->
    <md-progress-circular ng-show=vm.processing md-diameter=120></md-progress-circular>
    
    <!-- Feedback to user on error -->
   <feedback-message class=error ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>

    <!-- Input / Actions -->
    <form name=depositLimitForm ng-hide=vm.processing ng-submit=vm.save() novalidate>
        <p>You can set your responsible gaming deposit limits below</p>

        <div class="row header">
            <label>Current Limit</label>
            <label>New Limit</label>
        </div>

        <div class=row>
            <label>Daily Limit</label>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.defaults.daily disabled>
            </md-input-container>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.fields.daily min=0 max=99999 name=daily placeholder="{{ vm.fields.daily }}" required>
                <div ng-messages=depositLimitForm.daily.$error>
                    <div ng-message=required>Please check your limit</div>
                </div>
            </md-input-container>
        </div>

        <div class=row>
            <label>Weekly Limit</label>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.defaults.weekly disabled>
            </md-input-container>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.fields.weekly min=0 max=99999 name=weekly placeholder="{{ vm.fields.weekly }}" required>
                <div ng-messages=depositLimitForm.weekly.$error>
                    <div ng-message=required>Please check your limit</div>
                </div>
            </md-input-container>
        </div>

        <div class=row>
            <label>Monthly Limit</label>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.defaults.monthly disabled>
            </md-input-container>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.fields.monthly min=0 max=99999 name=monthly placeholder="{{ vm.fields.monthly }}" required>
                <div ng-messages=depositLimitForm.monthly.$error>
                    <div ng-message=required>Please check your limit</div>
                </div>
            </md-input-container>
        </div>

        <div class=row>
            <label>180 Day Limit</label>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.defaults.semiannual disabled>
            </md-input-container>
            <md-input-container md-no-float>
                <input type=number ng-model=vm.fields.semiannual min=0 max=99999 name=semiannual placeholder="{{ vm.fields.semiannual }}" required>
                <div ng-messages=depositLimitForm.semiannual.$error>
                    <div ng-message=required>Please check your limit</div>
                </div>
            </md-input-container>
        </div>

        <hr>

        <!-- Action button -->
        <div class=actions>
            <!-- Cancel button -->
            <md-button class=md-raiased ng-click=closeThisDialog()>Cancel</md-button>

            <!-- Save button -->
            <md-button class="md-raiased secondary" ng-click=vm.save()>Save</md-button>
        </div>
    </form>

</section>