<header class="dialog-header">
    <h1>Cool Off &amp; Self Exclusion</h1>
</header>
<section class="dialog-content">
    <!-- Processing -->
    <md-progress-circular ng-show="vm.processing" md-diameter="120"></md-progress-circular>

    <p>Please use the options below to set a cool-off period</p>

    <div class="row">

        <label>Set my Cool-off period</label>
        <md-input-container>
            <label>Choose below</label>
            <md-select ng-model="vm.fields.cooloffperiod">
                <md-option><em>None</em></md-option>
                <md-option ng-repeat="cooloff in vm.cooloffs" ng-value="cooloff.timePeriod">
                    {{cooloff.name}}
                </md-option>
            </md-select>
        </md-input-container>

    </div>

    <!-- Action button -->
    <div class="actions">
        <!-- Cancel button -->
        <md-button class="md-raiased" ng-click="closeThisDialog()">Cancel</md-button>

        <!-- Save button -->
        <md-button class="md-raiased secondary" ng-click="vm.save()">Save</md-button>
    </div>

    <hr />

    <h4>Self Exclusion</h4>

    <p>A self-exclusion period can be anything from 6 months onwards and is activated by contacting our Support team at Support@7lottos.com to ensure that we are able to provide you any necessary support to help you make a responsible decision.</p>

    <p>For more information about cool-off periods and self exclusion, please visit our Reponsible Gaming information section.</p> 

</section>