/*
|--------------------------------------------------------------------------
| Self Exclusion Modal
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.self-exclusion-modal {

    // Text inputs
    md-input-container {
        display: block;
        width: 100%;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    // actions
    .actions {
        display: flex;
        justify-content: space-between;
    }


    // Processing
    md-progress-circular {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .row {
        @include grid-row();
        margin-bottom: 10px;
        label, md-input-container {
            @include grid-column(1 of 2);
        }
        md-input-container {
            margin-top: 0;
        }
        label {
            margin: 25px 0 0 0;
            text-align: right;
        }
    }

    .dialog-content {

        h1, h2, h3, h4, h5, h6 {
            color: palette('blue', 'base');
        }

    }
}


@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.self-exclusion-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 500px;
        }
    }
}