/*
|--------------------------------------------------------------------------
| Footer Styles
|--------------------------------------------------------------------------
*/

$footer-background-primary      : $primary-color;

$footer-background-secondary    : darken($primary-color, 5%);

$footer-color                   : #fff !default;

$footer-payments-color          : rgba(#FFFFFF, 0.7) !default;

$footer-padding                 : 30px !default;

$footer-padding-primary         : 50px !default;

$footer-padding-secondary       : 20px !default;

$footer-heading-icons-gap       : 32px;

/*
|--------------------------
| Mobile Up
|--------------------------
*/
footer.page-footer {
    color: $white;
    background-color: $footer-background-primary;

    // All link lists
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        a {
            color: inherit;
        }
    }
    
    // Primary footer
    .primary-footer {
        @include grid-container();
        padding-top: rem-calc(15);
        padding-bottom: rem-calc(15);
        background-color: $footer-background-primary;

        // Information sections
        section {
            margin-bottom: rem-calc(25);
            &:last-child {
                margin-bottom: 0;
            }

            // Section header
            h4 {
                @include breakpoint(small down) {
                    margin-bottom: 0;
                }
            }
        }

        // Payments section
        .payments {
            ul {
                @include grid-row();
                li {
                    @include grid-column(1 of 4);
                }
            }

            // SVG icons
            md-icon[md-svg-src] {
                height: auto;
                width: 100%;
                .st0{
                    fill: $footer-payments-color;
                }
            }
        }

        // Security section
        .security {
            > div {
                display: table;
                img, p {
                    display: table-cell;
                    vertical-align: bottom;
                }
                img {
                    max-width: rem-calc(100px);
                }
                p {
                    padding-left: rem-calc(10px);
                    margin-bottom: 0;
                }
            }
        }
        .contact{
            .md-button{
                background-color: $secondary-color;
            }
        }
    }

    // Secondary footer
    .secondary-footer {
        background-color: $footer-background-secondary;
        padding-top: rem-calc(15);
        padding-bottom: rem-calc(15);
        ul {
            @include grid-container();
            @include clearfix;
            text-align: center;
            font-size: 0;
            @include breakpoint(small down) {
                line-height: 1.2;
            }
        }
        li {
            display: inline-block;
            position: relative;
            padding: 0 8px;
            font-size: $font-size-base;
            &:after {
                content: '|';
                position: absolute;
                right: -2px;
                top: 0;
            }
            &:last-child:after {
                content: '';
                display: none;
            }
        }
    }
}


/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium up) {
    footer.page-footer {

        // Primary footer
        .primary-footer {
            padding-top: rem-calc(30);
            padding-bottom: rem-calc(30);

            .row {
                @include grid-row;
            }

            // Information sections
            section {
                @include grid-column(1 of 3);
            }
        }
    }
}


/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large) {
    footer.page-footer {
        
        // Primary footer
        .primary-footer {
            padding-top: rem-calc(50);
            padding-bottom: rem-calc(50);

            // Start a grid context
            @include grid-context-start($columns: 17);

            // Information sections
            section {
                @include grid-col-size(5);
                &:nth-child(3n-1) {
                    @include grid-col-suffix(1);
                    @include grid-col-prefix(1);
                }
                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
            }

            // End grid context
            @include grid-context-end();
        }
    }
}


/*
|--------------------------
| Large Desktop Up
|--------------------------
*/
@include breakpoint(xlarge up) {
    footer.page-footer {
        
    }
}



