<main class=results-page>
  <section class=page-banner></section>

  <section class=subtitle>
    <h2>Results</h2>
  </section>

  <section class=content-with-sidebar>
    <div class=row>
      <article>

        <!-- List of lottery results -->
        <div class=lottery-results>

          <!-- Lottery result column -->
          <div class=result-column ng-repeat="(key,results) in ResultsPage.results">

            <!-- Lottery result item -->
            <article class="result-item md-whiteframe-2dp">
              <!-- lottery header -->
              <div layout=column class=header layout-align="start start" ng-style="{'background-image': 'url(./assets/images/flags/full/{{ results[0].drawTypeId }}.jpg)'}">
                <!-- lotto logo -->
                <div class=name layout=row layout-align="start center">
                  <img ng-src="assets/images/lotteries/{{ results[0].drawTypeId }}.png" alt={{results[0].lotteryName}}>
                  <h5 class=ng-binding>{{ results[0].lotteryName }}</h5>
                </div>
                <!-- lotto logo ends -->

                <!-- lotto short info -->
                <div layout=column class=lottoShortInfo layout-align="center end">
                  <h2>{{ results[0].jackpotAmountCurrency }}   {{ results[0].jackpotAmount / 100 | jackpot }} </h2>
                  <div> Jackpot</div>
                </div>
                <!-- lotto short info ends -->

                <!-- play button on small screen -->
                <div layout=row class=playButton ng-if="!$mdMedia('gt-md')" layout-align="end center">
                  <md-button class=successBtn>Play</md-button>
                </div>
                <!-- play button on small screen ends -->
              </div>
              <!-- lottery header ends -->

              <!--lottery body starts -->
              <div layout=column class=lotteryDetailedInfo layout-align="center start">

                <!-- draw's primary and secondary numbers -->
                <div layout=row layout-align="space-between center" class=wrap>
                  <div layout=row class=lotteryResults layout-align="start center">
                    <!-- primary nums -->
                    <div class=numBall ng-repeat="number in results[0].primaryNumbers" layout=row layout-align="center center">
                      {{number}}
                    </div>
                    <!--secondary numes -->
                    <div ng-class="{'margin-left':$index === 0}" class="numBall secondaryNum" ng-repeat="number in results[0].secondaryNumbers track by $index" layout=row layout-align="center center">
                      {{number}}
                    </div>
                  </div>
                  <div layout=row ng-if="$mdMedia('gt-md')">
                    <md-button class=successBtn>Play</md-button>
                  </div>

                </div>
                <!-- draw's primary and secondary numbers ends -->

                <!-- last draw -->
                <div layout=row layout-align="start start" class=lotteryDraws>
                  <span>Draw on:</span>
                  <div layout=row layout-align="center center">
                    <!-- {{ResultsPage.formatDate(results)}} -->
                    {{ results[0] | formatTime }}
                  </div>
                </div>
                <!-- last draw ends -->

              </div>
              <!--lottery body ends -->

              <!-- lottery result footer-->
              <div layout=row layout-align="start center" class=actionButtons>
                <md-button class=successBtn ng-click="ResultsPage.goTo('lotteryresults',results)">All {{results[0].lotteryName}} Results</md-button>
              </div>
              <!-- lottery result footer ends -->

            </article>

          </div>
        </div>

      </article>
      <aside>
        <playslip></playslip>
      </aside>
    </div>
  </section>

  <!--    <article>
      <arrow-bar direction="false">
         <h5>We also have 32 lotteries to play securely online</h5>
      </arrow-bar>
      <section class="test">
		<div>
			<playslip></playslip>
		</div>

		<div>
			<cashier></cashier>
		</div>
      </section>
   </article> -->
</main>
