<header class="dialog-header">
  <h1>Update Email</h1>
</header>
<section class="dialog-content">
   <!-- Processing -->
   <md-progress-circular ng-show="vm.processing" md-diameter="120"></md-progress-circular>
    
    <!-- Feedback to user on error -->
   <feedback-message class="error" ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>
   
   <!-- Input / Actions -->
   <form name="updateEmailForm" ng-hide="vm.processing" ng-submit="vm.save()" novalidate>
      <!-- Email -->
      <md-input-container md-no-float>
         <label>Email</label>
         <input type="email" ng-model="vm.fields.email" name="email" required>
         <div ng-messages="updateEmailForm.email.$error">
            <div ng-message="required">Please enter a valid email</div>
            <div ng-message="email">Please enter a valid email</div>
         </div>
      </md-input-container>

      <!-- Action button -->
      <div class="actions">
         <!-- Cancel button -->
         <md-button class="md-raiased" ng-click="closeThisDialog()">Cancel</md-button>

         <!-- Save button -->
         <md-button class="md-raiased secondary" ng-click="vm.save()">Save</md-button>
      </div>
   </form>

</section>