/*
|--------------------------------------------------------------------------
| Header Styles
|--------------------------------------------------------------------------
*/

// $header-background      : #0288D1 !default;

// $header-height-mobile   : 90px !default;

// $header-height-desktop  : 150px !default;

// $header-mobile-height   : 65px;

// $toggle-playslip-padding: 12px;

$header: (
    'background': $primary-color,
'color': $white,
    'height': (
        'mobile': 65px,
        'desktop': 90px
    ),
    'cart': (
        'background': #fff,
        'color': $secondary-color,
        'font-size': 22px
    ),
    'account': (
        'background': $secondary-color,
        'color': $white
    )
) !default;

/*
|--------------------------
| Mobile Up
|--------------------------
*/
header.page-header-two {
    color: map-get($header, 'color');
    background-color: map-get($header, 'background');
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    //border-bottom: 1px solid lighten(#ccc, 5%);
    position: relative;
    z-index: 2;

    // Mobile action bar / Desktop logo
    .mobile-actions {
        @include clearfix;
        @include grid-container('xsmall', $gutter-sides: left right);
        height: map-deep-get($header, 'height', 'mobile');
        background-color: inherit;

        > * {
            height: 100%;
            margin: 0;
            padding: 0;
            min-width: 0;
            line-height: inherit;
            float: left;
        }

        // Toggle menu
        .toggle-menu, .toggle-playslip {
            //@include grid-container-gutter($sides: left right);
            //width: map-deep-get($header, 'height', 'mobile');
            padding: rem-calc(0 8);
            margin-left: rem-calc(8) * -1;
            font-size: rem-calc(32);
            .material-icons {
                font-size: inherit;
            }
        }

        // Toggle playslip
        .toggle-playslip {
            display: none;
        }

        // Logo
        .logo {
           // border: 1px solid;

            img {
                max-width: rem-calc(200);
            }
            &:hover {
                //background: transparent;
            }
            .md-ripple-container {
                display: none;
            }
        }

        // Toggle cart / playslip
        .toggle-cart {
            padding: rem-calc(10 0);
            float: right;
            //@include grid-container-gutter($sides: right);
            .md-button {
                width: map-deep-get($header, 'height', 'mobile') - 25px;
                height: map-deep-get($header, 'height', 'mobile') - 25px;
                line-height: map-deep-get($header, 'height', 'mobile') - 25px;
                background-color: $secondary-color;
                color: white;
                font-size: rem-calc(map-deep-get($header, 'cart', 'font-size'));
                &:hover {
                }
            }
        }
    }

    // Account info section
    .account-info {
        background-color: map-deep-get($header, 'account', 'background');
        padding: rem-calc(30 0);
        &.hidden {
            display: none;
        }

        // Welcome message
        .welcome-message {
            @include grid-gutter;
            max-width: 70%;
            margin: 0 auto;
            position: relative;
            margin-bottom: rem-calc(30);

            // Account icon
            md-icon {
                position: absolute;
                font-size: rem-calc(45px);
                left: rem-calc(40) * -1;
                top: rem-calc(10) * -1;
            }

            // Information text
            p {
                display: block;
                font-size: rem-calc(20);
                line-height: normal;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        // Account actions
        .account-actions {
            @include clearfix;
            max-width: 80%;
            margin: 0 auto;
            .md-button {
                min-width: rem-calc(110);

            }
            .md-button:first-child {
                float: left;
            }
            .md-button:last-child {
                float: right;
            }
        }
    }

    // Main navigation
    nav {
        &.hidden {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li.home {
            display: none;
        }
        li > .md-button {
            @include grid-container-gutter();
            display: block;
            width: 100%;
            text-align: left;
            margin: 0;
            min-height: 50px;
            line-height: 50px;
            background-color: $white;
            color: map-get($header, 'background');
            position: relative;
            border-radius: 0;
            &:hover, &.md-focused {
                background-color: darken($white, 15%);
            }
        }
        md-icon {
            border-radius: 100%;
            color: $white;
            background-color: map-get($header, 'background');
            font-size: rem-calc(22);
            padding: 5px;
            width: auto;
            height: auto;
        }
        .widget {
            display: none;
            .inner-widget {
                background-color: $white;
                color: $body-color;
                padding: rem-calc(15 45);
            }
        }
        .toggle-icon {
            @include grid-container-gutter($sides: right);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            i {
                height: auto;
                width: auto;
                vertical-align: middle;
                transform: rotate(0deg);
            }
        }
        li.open .toggle-icon i {
            transform: rotate(180deg);
            transition: transform .3s ease-in-out;
        }
    }

    // Desktop actions
    .desktop-actions-user, .desktop-actions-guest {
        li{
            .md-button{
                background-color: $secondary-color;
                &.md-raised, &.md-accent, &.md-ink-ripple{
                    background-color: $secondary-color!important;
                }
            }
        }
        display: none;
    }
}

/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    header.page-header-two {

        .container {
            @include grid-container;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
        }

        // Mobile action bar / Desktop logo
        .mobile-actions {
            display: block;
            padding: 0;
            width: auto;
            margin: 0;
            //height: map-deep-get($header, 'height', 'desktop');
            //max-width: map-deep-get($header, 'height', 'desktop');
            //display: none;
            .toggle-menu, .toggle-cart, .toggle-playslip {
                display: none;
            }
            .logo {
            //    padding: rem-calc(10);
                border-radius: 0;
            }
        }

        // Account info section
        .account-info {
            display: none;
        }
        
        // Main navigation
        nav {
            &.hidden {
                display: block;
            }
            flex-grow: 1;
            height: map-deep-get($header, 'height', 'desktop');
            ul {
                @include clearfix;
                //position: relative;
                height: map-deep-get($header, 'height', 'desktop');
            }
            li.home {
                display: block;
            }
            li {
                float: left;
                height: map-deep-get($header, 'height', 'desktop');
            }
            li > .md-button {
                background-color: transparent;
                color: map-get($header, 'color');
                padding: rem-calc(0 3);
                height: 100%;
                line-height: map-deep-get($header, 'height', 'desktop');
                &:hover, &.md-focused {
                    background: rgba(158,158,158,0.2);
                    //background: darken(map-get($header, 'background'), 10%);
                }
            }
            md-icon {
                background-color: transparent;
                color: inherit;
            }
            .toggle-icon {
                display: none;
            }
            .widget {
                @include grid-container-gutter;
                position: absolute;
                left: 0;
                right: 0;
                z-index: 99;
                .inner-widget {
                    @include grid-container-gutter;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                }
            }
        }

        .desktop-actions-user {
            display: table;
            height: map-deep-get($header, 'height', 'desktop');

            .md-button {
                height: map-deep-get($header, 'height', 'desktop');
                line-height: map-deep-get($header, 'height', 'desktop');
                display: table-cell;
                vertical-align: middle;
                color: $white;
                margin: 0;
                md-icon {
                    font-size: 30px;
                }
            }
            
            // User info button
            .user-info {
                line-height: 1;
                position: relative;
                padding-left: rem-calc(15);
                padding-right: rem-calc(15);
                // md-icon {
                //     height: 30px;
                //     width: 30px;
                //     font-size: 30px;
                //     margin-right: rem-calc(10);
                // }
                div {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                    text-align: left;
                }
                span {
                    display: block;
                }
            }
        }

        // Desktop login & Register
        .desktop-actions-guest {
            @include clearfix;
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
            float: right;
            display: flex;
            align-items: center;
            li {
                @include grid-gutter($sides: right);
                float: left;
            }
            .md-button {
                margin-left: rem-calc(20);
            }
        }
    }
}








