<header class="page-header-two">
   <div class="container">
      <!-- Mobile action bar / Desktop logo -->
      <section class="mobile-actions">
         <!-- Close playslip -->
         <md-button class="toggle-playslip" ng-click="vm.togglePlayslip()" aria-label="Close">
            <md-icon>&#xE314;</md-icon>
         </md-button>

         <!-- Open / Close menu -->
         <md-button class="toggle-menu" ng-click="vm.toggleMenu()" aria-label="Toggle">
            <md-icon ng-if="!vm.menuOpen">menu</md-icon>
            <md-icon ng-if="vm.menuOpen">&#xE14C;</md-icon>
         </md-button>

         <!-- Logo -->
         <md-button class="logo" aria-label="home" ui-sref="home">
            <img src="assets/images/kombolotto-logo.png" alt="7Lottos" />
            <!-- <img src="assets/images/247.logo.svg" alt="247Lotto" /> -->
         </md-button>

         <!-- Toggle playslip / cart -->
         <div class="toggle-cart">
            <md-button class="md-fab" ng-click="vm.togglePlayslip()">{{ vm.cart.items.length }}</md-button>
         </div>
      </section>

      <!-- Account info: users -->
      <section class="account-info" ng-if="vm.session.authenticated" ng-class="{'hidden': !vm.menuOpen}">
         <div class="welcome-message">
            <md-icon>account_circle</md-icon>
            <p>Hello, {{ vm.account.profile.firstName }}</p>
            <p>Your balance is {{ vm.account.balance + vm.session.currency }}</p>
         </div>
         <div class="account-actions">
            <md-button class="md-primary md-raised md-accent" ui-sref="account">
               <md-icon>account_circle</md-icon> Account
            </md-button>
            <md-button class="md-primary md-raised">
               <md-icon>account_balance_wallet</md-icon> Cashier
            </md-button>
         </div>
      </section>

      <!-- Account info: guests -->
      <section class="account-info" ng-if="!vm.session.authenticated" ng-class="{'hidden': !vm.menuOpen}">
         <div class="welcome-message">
            <md-icon>account_circle</md-icon>
            <p>Hello, don't be shy...</p>
         </div>
         <div class="account-actions">
            <md-button class="md-primary md-raised md-accent" ng-click="vm.register($event)">
               <md-icon>account_circle</md-icon> Join
            </md-button>
            <md-button class="md-primary md-raised" ng-click="vm.login($event)">
               <md-icon>account_balance_wallet</md-icon> Login
            </md-button>
         </div>
      </section>

      <!-- Navigation items -->
      <nav ng-class="{'hidden': !vm.menuOpen}">
         <ul>
            <li class="home">
               <md-button ui-sref="home">
                  <md-icon>&#xE311;</md-icon> Home
               </md-button>
            </li>
            <li>
               <md-button ui-sref="play">
                  <md-icon>&#xE553;</md-icon> Play Lottery
               </md-button>
            </li>
            <li>
               <md-button ui-sref="results">
                  <md-icon>&#xE065;</md-icon> Lottery Results
               </md-button>
            </li>
            <li>
               <md-button ui-sref="how">
                  <md-icon>&#xE90F;</md-icon> How to Play
               </md-button>
            </li>
            <li>
               <md-button ui-sref="contact">
                  <md-icon>&#xE311;</md-icon> Contact Us
               </md-button>
            </li>
         </ul>
      </nav>

      <!-- Desktop account info -->
      <div class="desktop-actions-user" ng-if="vm.session.authenticated">
         <md-button ui-sref="account">
            <md-icon>&#xE7FD;</md-icon>
         </md-button>
         <md-button class="user-info" ui-sref="account">
            <div>
               <span>{{ vm.account.profile.firstName }} {{ vm.account.profile.lastName }}</span>
               <span>{{ vm.session.currency }} {{ vm.account.balance | number }}</span>
            </div>
         </md-button>
         <md-button ng-click="vm.logout()">
            <md-icon>&#xE879;</md-icon>
         </md-button>
      </div>

      <!-- Desktop actions -->
      <ul class="desktop-actions-guest">
         <!-- Not logged in -->
         <li ng-if="!vm.session.authenticated">
            <md-button ng-click="vm.login($event)">
               <md-icon>&#xE879;</md-icon> Login
            </md-button>
         </li>
         <li ng-if="!vm.session.authenticated">
            <md-button class="md-raised md-accent" ng-click="vm.register($event)">
               <md-icon>&#xE150;</md-icon> Join
            </md-button>
         </li>
         <li>
            <cart-button></cart-button>
         </li>
      </ul>

   </div>
</header>


