/*
|--------------------------------------------------------------------------
| Next Draw Styles
|--------------------------------------------------------------------------
*/


[next-draw],
.next-draw {
	.md-button.secondary:not([disabled]){
		background-color: $secondary-color;
	}
	.next-draw-info {
		display: table;
		margin-bottom: 1.5rem;
	}

	.logo, .info {
		display: table-cell;
		vertical-align: top;
	}

	.logo {
		max-width: rem-calc(70px);
		img {
			display: block;
			width: 100px;
		}
	}

	.info {
		padding-left: rem-calc(15px);
		h6 {
			display: block;
			color: $white;
			margin: 0;
			font-size: rem-calc(14);
		}
		h1 {
			line-height: 1;
		}
		.jackpot {
			font-size: rem-calc(56);
			margin: 0;
			small {
				color: inherit;
				font-size: 40%;
			}
		}
	}
}