/*
|--------------------------------------------------------------------------
| Contact Page
|--------------------------------------------------------------------------
*/


/*
|--------------------------
| Mobile Up
|--------------------------
*/
main.contact-page {
    

    // Test area
    .test {
    	@include clearfix;
    	padding: 20px;
    	> div {
    		padding: 20px;
    		//border: 1px solid red;
    		width: 50%;
    		float: left;
    	}
    }
}


/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium up) {
    main.contact-page {
        
    }
}


/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    main.contact-page {
        
    }
}
