<header class="dialog-header">
  <h1>Update Address</h1>
</header>
<section class="dialog-content">
   <!-- Processing -->
   <md-progress-circular ng-show="vm.processing" md-diameter="120"></md-progress-circular> 
    
    <!-- Feedback to user on error -->
   <feedback-message class="error" ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>

   
   <!-- Input / Actions -->
   <form name="updateAddressForm" ng-hide="vm.processing" ng-submit="vm.save()" novalidate>
      <!-- Address -->
      <md-input-container md-no-float>
         <label>Address</label>
         <input type="text" ng-model="vm.fields.address" name="address" required>
         <div ng-messages="updateAddressForm.address.$error">
            <div ng-message="required">Please enter a valid address</div>
         </div>
      </md-input-container>

      <!-- City -->
      <md-input-container md-no-float>
         <label>City</label>
         <input type="text" ng-model="vm.fields.city" name="city" required>
         <div ng-messages="updateAddressForm.city.$error">
            <div ng-message="required">Please enter a valid city</div>
         </div>
      </md-input-container>

      <!-- Zip -->
      <md-input-container md-no-float>
         <label>Zip</label>
         <input type="text" ng-model="vm.fields.zip" name="zip" required>
         <div ng-messages="updateAddressForm.zip.$error">
            <div ng-message="required">Please enter a valid zip</div>
         </div>
      </md-input-container>

      <!-- Phone -->
      <md-input-container md-no-float>
         <label>Phone</label>
         <input type="text" ng-model="vm.fields.phone" name="phone" required>
         <div ng-messages="updateAddressForm.phone.$error">
            <div ng-message="required">Please enter a valid phone</div>
         </div>
      </md-input-container>

      <!-- Action button -->
      <div class="actions">
         <!-- Cancel button -->
         <md-button class="md-raiased" ng-click="closeThisDialog()">Cancel</md-button>

         <!-- Save button -->
         <md-button class="md-raiased secondary" ng-click="vm.save()">Save</md-button>
      </div>
   </form>

</section>