/*
|--------------------------------------------------------------------------
| Purchase History Modal
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.purchase-history-modal {

    // Text inputs
    md-input-container {
        display: block;
        width: 100%;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    // actions
    .actions {
        display: flex;
        justify-content: space-between;
    }


    // Processing
    md-progress-circular {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    table {
        width: 100%;
        border: 0px;
        td, th {
            text-align: left;
            padding: 10px;
            margin: 0;
        }
        tr td {
            border-bottom: 1px solid $light-gray;
        }
        th {
            color: palette('blue', 'base');
            border-bottom: 1px solid palette('blue', 'base');
        }
    }
}


@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.purchase-history-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 900px;
        }
    }
}