<header class="dialog-header">
  <h1>Withdraw</h1>
</header>
<section class="dialog-content">
   <!-- Processing -->
   <md-progress-circular ng-show="vm.processing" md-diameter="120"></md-progress-circular> 
   
   <!-- Input / Actions -->
   <form name="withdrawForm" ng-hide="vm.processing" ng-submit="vm.requestWithdrawal()" novalidate>
      <!-- Amount -->
      <md-input-container md-no-float>
         <label>Amount</label>
         <input type="max" ng-model="vm.fields.amount" min="0" name="amount" required>
         <div ng-messages="withdrawForm.amount.$error">
            <div ng-message="required">Please enter a valid amount</div>
            <div ng-message="min">Please enter a number more than 0</div>
         </div>
      </md-input-container>

      <!-- BIC -->
      <md-input-container md-no-float>
         <label>BIC</label>
         <input type="text" ng-model="vm.fields.instrument1" name="instrument1" required>
         <div ng-messages="withdrawForm.instrument1.$error">
            <div ng-message="required">Please enter a valid BIC</div>
         </div>
      </md-input-container>

      <!-- IBAN -->
      <md-input-container md-no-float>
         <label>IBAN</label>
         <input type="text" ng-model="vm.fields.instrument" name="instrument" required>
         <div ng-messages="withdrawForm.instrument.$error">
            <div ng-message="required">Please enter a valid IBAN</div>
         </div>
      </md-input-container>

      <!-- Action button -->
      <div class="actions">
         <!-- Cancel button -->
         <md-button class="md-raiased" ng-click="closeThisDialog()">Cancel</md-button>

         <!-- Save button -->
         <md-button class="md-raiased secondary" ng-click="vm.requestWithdrawal()">Request Withdrawal</md-button>
      </div>
   </form>
   
</section>