
$cart-button: (
	'size': 55px,
	'color': $white,
	'background': #fff,
	'shadow': none
) !default;

cart-button {
	display: block;
}

.cart-button {
	background-color: map-get($cart-button, 'background');
	color: $white;
	font-size: rem-calc(22);
	width: map-get($cart-button, 'size');
	height: map-get($cart-button, 'size');
	line-height: map-get($cart-button, 'size');
	text-align: center;
	min-width: 0;
	padding: rem-calc(2);
	border-radius: 100%;
	box-shadow: map-get($cart-button, 'shadow');
	&:not([disabled]):hover {
		background-color: darken(map-get($cart-button, 'background'), 10%);
	}
	&:not([disabled]).md-focused {
		background-color: map-get($cart-button, 'background');
	}
}

.dropdown-content {
	display: none;
	background-color: $white;
	position: absolute;
	top: 100%;
	right: 50px;
	z-index: 99;
	min-width: 400px;
	box-shadow: 0 11px 14px -7px rgba(0,0,0,.2),0 23px 36px 3px rgba(0,0,0,.14),0 9px 44px 8px rgba(0,0,0,.12);

	article.playslip {
		max-width: none;
		margin-bottom: 0;
		box-shadow: none;
		color: $body-color;
		.ticketWrap {
			min-height: 0;
		}
		//.layout-row:last-of-type .ticketWrap div .lotteryDetails {
		.ticketWrap > div:last-child > div.lotteryDetails {
			border: none;
		}
	}
}