/*
|--------------------------------------------------------------------------
| Wager Limits Modal
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.wager-limits-modal {

    user-select: none;

    // Text inputs
    md-input-container {
        display: block;
        width: 100%;
        margin: 5px 0;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    // actions
    .actions {
        display: flex;
        justify-content: space-between;
    }


    // Processing
    md-progress-circular {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }
}


@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.wager-limits-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 500px;
        }
        
        // Row styling
        .row {
            @include grid-row();
            label {
                @include grid-column(4 of 12);
                margin: 15px 0 5px;
                text-align: right;
            }
            &.header label, md-input-container {
                @include grid-column(4 of 12);
            }
            &.header label {
                margin: 5px 0;
                font-weight: bold;
                text-align: left;
                @include grid-col-push(4 of 12);
            }
        }
    }
}