/*
|--------------------------------------------------------------------------
| Syndicate Modal
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.syndicate-modal {

    // Main content wrapper
    .ngdialog-content {

    }

    // Content area
    .dialog-content {
        padding: 25px;
    }


    // Header
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        .logo > img {
            max-width: 80px;
            display: block;
            margin: 0;
            max-height: 80px;
            height: auto;
        }
        .jackpot {
            > h2 {
                color: #01b0ed;
                margin: 0;
                line-height: 1;
                font-size: rem-calc(48);
                small {
                    text-transform: capitalize;
                    color: inherit;
                    font-size: 45%;
                }
            }
            > small {
                text-align: left;
                font-weight: $font-weight-bold;
                font-size: rem-calc(16);
            }
        }
    }

    .dialog-content section {
        margin-bottom: 2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        h5 {
            color: #01b0ed;
            font-size: 1.25rem;
            margin-bottom: 0;
        }
    }

    .summary .summary-info {
        background-color: #FAFAFA;
        border: 1px dashed #9B9B9B;
        border-radius: $global-border-radius;
    }

    table {
        //background-color: $white;
        //padding: 15px;
        //color: $body-color;
        background-color: #FAFAFA;
        border: 1px dashed $body-color;
        border: 1px dashed #9B9B9B;
        padding: 10px;
        width: 100%;
        border-radius: $global-border-radius;
        th {
            font-weight: bold;
            text-align: left;
        }
    }

    .syndicate-numbers {

        .numbers-list {
            padding-top: 20px;
            max-height: 500px;
            overflow-y: scroll;
        }

        .lottery {
            margin-bottom: 1rem;
            padding-right: 15px;
            border-bottom: 2px solid $dark-gray;

            padding-top: 10px;
            padding-bottom: 20px;

            .heading {
                margin-bottom: 10px;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                margin-bottom: 10px;
            }
            li {
                width: 35px;
                height: 35px;
                margin-right: 2px;
                background: #5FA8F1;
                border-radius: 50%;
                color: white;
                text-align: center;
                line-height: 35px;
                &.secondary {
                    background-color: #FF5722;
                }
            }
        }
    }
}


@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.syndicate-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 600px;
        }

        // Content area
        .dialog-content {

        }
    }
}