<section class="dialog-content">
<!--    <div><pre>{{ vm.cartItem | json }}</pre></div> -->

   <header>
      <div class="logo">
         <img ng-src="assets/images/lotteries/{{ vm.product.drawTypeId }}.png" alt="{{ vm.product.name }}">
      </div>
      <div class="jackpot">
         <h2>{{ vm.product.jackpot.value | jackpot }}</h2>
         <small>Cumulative Jackpot</small>
      </div>
   </header>


   <!-- Main syndicate actions -->
   <div class="syndicate-actions" ng-hide="vm.showingNumbers">
      <!-- Ticket list -->
      <section class="ticket-list">
         <h5>Claim your place</h5>
         <table>
            <tr>
               <th>Tickets</th>
               <th>See Numbers</th>
               <th>Shares Left</th>
            </tr>
            <tr>
               <td>{{ vm.product.tickets.total }}</td>
               <td><md-button class="md-raised" ng-click="vm.showNumbers()">Show Numbers</md-button></td>
               <td>{{ vm.cartItem.shares.remaining - vm.cartItem.shares.claimed }} / {{ vm.cartItem.shares.total }}</td>
            </tr>
         </table>
      </section>


      <!-- How often to play -->
      <section class="choose-shares">
         <h5>How many shares</h5>
         <ul class="choose-bar week-counter">
            <li><md-button ng-click="vm.decreaseShares();">-</md-button></li>
            <li><md-button>{{ vm.cartItem.shares.claimed }}</md-button></li>
            <li><md-button ng-click="vm.cartItem.increaseShares()">+</md-button></li>
         </ul>
      </section>

      <!-- Payment options -->
      <section class="payment-options">
         <h5>How do you want to play</h5>
         <ul class="choose-bar">
            <li>
               <md-button 
                  ng-class="{'selected': vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.ONCE}"
                  ng-click="vm.cartItem.setPlayingPeriod(vm.PLAYING_PERIODS.ONCE)">Just once
               </md-button>
            </li>
            <li>
               <md-button 
                  ng-class="{'selected': vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SUBSCRIPTION}"
                  ng-click="vm.cartItem.setPlayingPeriod(vm.PLAYING_PERIODS.SUBSCRIPTION)">Every Week
               </md-button>
            </li>
            <li>
               <md-button 
                  ng-class="{'selected': vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SET_WEEKS}"
                  ng-click="vm.cartItem.setPlayingPeriod(vm.PLAYING_PERIODS.SET_WEEKS)">For X Weeks
               </md-button>
            </li>
         </ul>
      </section>

      <!-- How often to play -->
      <section class="payment-period" ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SET_WEEKS">
         <h5>Choose number of weeks</h5>
         <ul class="choose-bar week-counter">
            <li><md-button ng-click="vm.cartItem.decreasePlayingLength();">-</md-button></li>
            <li><md-button>{{ vm.cartItem.playingPeriodLength }}</md-button></li>
            <li><md-button ng-click="vm.cartItem.increasePlayingLength()">+</md-button></li>
         </ul>
      </section>

      <!-- Play options -->
      <section class="play-options" ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SUBSCRIPTION">
         <h5>How do you want to pay</h5>
         <ul class="choose-bar">
            <li>
               <md-button 
                  ng-class="{'selected': vm.cartItem.billingPeriod === vm.BILLING_PERIODS.WEEKLY}"
                  ng-click="vm.cartItem.setBillingPeriod(vm.BILLING_PERIODS.WEEKLY)">Weekly
               </md-button>
            </li>
            <li>
               <md-button 
                  ng-class="{'selected': vm.cartItem.billingPeriod === vm.BILLING_PERIODS.MONTHLY}"
                  ng-click="vm.cartItem.setBillingPeriod(vm.BILLING_PERIODS.MONTHLY)">Monthly
               </md-button>
            </li>
            <li>
               <md-button 
                  ng-class="{'selected': vm.cartItem.billingPeriod === vm.BILLING_PERIODS.QUATERLY}"
                  ng-click="vm.cartItem.setBillingPeriod(vm.BILLING_PERIODS.QUATERLY)">Quarterly
               </md-button>
            </li>
         </ul>
      </section>

      <!-- Summary -->
      <section class="summary">
         <h5>Play Total</h5>
         <div class="summary-info">
            <p>{{ vm.cartItem.shares.claimed }} shares <strong>{{ vm.cartItem.sharePrice | number }} {{ vm.cartItem.currency }} per entry</strong></p>
            <p>{{ vm.cartItem.lines.length }} {{ vm.product.name }} <strong>{{ vm.cartItem.linePrice | number }} {{ vm.cartItem.currency }} per entry</strong></p>
            <p ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.ONCE">You’ve chosen to play just once, don’t forget that if you don’t play, you can’t win! To keep your numbers safe, and play every week, choose the “EVERY WEEK” option above.</p>
            <p ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SET_WEEKS">Congratulations, you’ve chosen to play for {{ vm.cartItem.playingPeriodLength }} weeks to keep your numbers safe to make sure you don’t miss out! We will charge your chosen payment method in advance for these entries.</p>
            <p ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SUBSCRIPTION">Congratulations, you’ve chosen to keep your numbers safe and play every week. We will charge your chosen payment method each month prior to the draw.</p>
            <p>
               Total payable
               <span ng-if="vm.cartItem.billingPeriod === vm.BILLING_PERIODS.WEEKLY">weekly</span>
               <span ng-if="vm.cartItem.billingPeriod === vm.BILLING_PERIODS.MONTHLY">monthly</span>
               <span ng-if="vm.cartItem.billingPeriod === vm.BILLING_PERIODS.QUATERLY">quaterly</span>
               <strong>{{ vm.cartItem.subTotal | number }} {{ vm.cartItem.currency }}</strong>
            </p>
         </div>
         <md-button class="md-raised secondary checkout" ng-click="vm.addToCart()" ng-disabled="vm.cartItem.subTotal <= 0">Add to Playslip</md-button>
      </section>
   </div>

   <!-- Number list -->
   <div class="syndicate-numbers" ng-show="vm.showingNumbers">
      <md-button class="md-raised md-primary" ng-click="vm.showingNumbers = false">Back</md-button>

      <div class="numbers-list">
         <div class="lottery" ng-repeat="lottery in vm.syndicateLotteries track by $index">
            <div class="heading">
               <img ng-src="assets/images/lotteries/{{ lottery.drawTypeId }}.png">
               <strong>{{ lottery.name }}</strong>
            </div>
            <div class="lottery-lines">
               <ul ng-repeat="draw in lottery.tickets">
                  <li ng-repeat="number in draw.primaryNumbers track by $index">{{ number }}</li>
                  <li class="secondary" ng-repeat="number in draw.secondaryNumbers track by $index">{{ number }}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>

</section>