<md-button class="md-raised account-button">
   <div class=action-button-wrapper>
      <div class=button-text ng-transclude></div>
      <div class=button-icon>
         <i class=material-icons>{{ icon }}</i>
      </div>
   </div>
</md-button>