
.feedback-message {
    border: 1px solid green;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    border: 1px solid $dark-gray;
    margin-bottom: 1rem;
    display: block;
   
    &.error {
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #a94442;
    }

    &.info {
        background-color: #d9edf7;
        border-color: #bcdff1;
        color: #31708f;
    }

    &.warn {
        background-color: #fcf8e3;
        border-color: #faf2cc;
        color: #8a6d3b;
    }

    &.success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
}