/*
|--------------------------------------------------------------------------
| Count Down Circle Styles
|--------------------------------------------------------------------------
*/

$count-down-circle: (
    'path': (
        'color': '',
        'thickness': ''
    )
) !default;

count-down-circle,
[count-down-circle],
.count-down-circle {
    display: block;
    position: relative;
    max-width: 200px;
    margin: 0 auto;
    
    // Time block
    .time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        text-align: center;
        > span {
            display: block;
        }

        // Time value
        .number {
            font-size: rem-calc(56);
            font-weight: $font-weight-bold;
            color: $secondary-color;
        }

        // Time text (days, hours, etc...)
        .text {
            font-weight: 200;
            font-size: rem-calc(16);
        }
    }
    
    // Track stroke thickness
    svg > circle {
        stroke-width: 3px !important;
    }
}