<header class=dialog-header>
  <h1>Update Password</h1>
</header>
<section class=dialog-content>
   <!-- Processing -->
   <md-progress-circular ng-show=vm.processing md-diameter=120></md-progress-circular>
    
    <!-- Feedback to user on error -->
   <feedback-message class=error ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>
   
   <!-- Input / Actions -->
   <form name=updatePasswordForm ng-hide=vm.processing ng-submit=vm.save() novalidate>
      <!-- Old Password -->
      <md-input-container md-no-float>
         <label>Old Password</label>
         <input type=password ng-model=vm.fields.oldPassword name=oldPassword required>
         <div ng-messages=updatePasswordForm.oldPassword.$error>
            <div ng-message=required>Please enter a valid oldPassword</div>
         </div>
      </md-input-container>

      <!-- New Password -->
      <md-input-container md-no-float>
         <label>New Password</label>
         <input type=password ng-model=vm.fields.newPassword name=newPassword required>
         <div ng-messages=updatePasswordForm.newPassword.$error>
            <div ng-message=required>Please enter a valid new password</div>
         </div>
      </md-input-container>

      <!-- Confirm Password -->
      <md-input-container md-no-float>
         <label>Confirm Password</label>
         <input type=password ng-model=vm.fields.confirmPassword name=confirmPassword required>
         <div ng-messages=updatePasswordForm.confirmPassword.$error>
            <div ng-message=required>Please enter a valid password confirmation</div>
         </div>
      </md-input-container>

      <!-- Action button -->
      <div class=actions>
         <!-- Cancel button -->
         <md-button class=md-raiased ng-click=closeThisDialog()>Cancel</md-button>

         <!-- Save button -->
         <md-button class="md-raiased secondary" ng-click=vm.save()>Save</md-button>
      </div>
   </form>
   
</section>