<section class=dialog-content>
   
   <!-- Lottery info & number picker -->
   <!-- <article class="info"> -->
   <article class=info ng-hide="vm.isMobile && !vm.choosingNumbers">

      <!-- Header -->
      <header>
         <div class=logo>
            <img ng-src="assets/images/lotteries/{{ vm.product.drawTypeId }}.png" alt="{{ vm.product.name }}">
         </div>
         <div class=jackpot>
            <h2>{{ vm.product.jackpot.local.value | jackpot }} <!-- 7.5 <small>million</small> --></h2>
            <small>Estimated Jackpot</small>
         </div>
      </header>

      <!-- -->
      <h4 class=primary>Choose your lucky numbers</h4>

      <div class=dotted-box>
         <!-- Lucky dip button -->
         <section class=lucky-dip>
            <h6>Choose {{ vm.primaryNumbers.total }} numbers to play {{ vm.product.name }}</h6>
            <md-button class="md-primary md-raised" ng-click=vm.luckyDip()>Lucky Dip</md-button>
            <md-progress-linear md-mode=determinate value="{{ (vm.primaryNumbers.chosen.length / (vm.primaryNumbers.total + vm.secondaryNumbers.total)) * 100 }}"></md-progress-linear>
         </section>

         <!-- Primary picker -->
         <section class=number-picker>
            <!-- Picker -->
            <ul ng-hide="vm.primaryNumbers.chosen.length === vm.primaryNumbers.total">
               <li ng-repeat="number in vm.primaryNumbers.list track by $index" ng-class="{'selected': vm.primaryNumbers.chosen.indexOf(number) > -1}">
                  <md-button ng-click=vm.choosePrimary(number)>{{ number }}</md-button>
               </li>
            </ul>

            <!-- Chosen numbers -->
            <div ng-if="vm.primaryNumbers.chosen.length === vm.primaryNumbers.total">
               <h6>YOUR CHOSEN PRIMARY NUMBERS</h6>
               <ul>
                  <li ng-repeat="number in vm.primaryNumbers.chosen track by $index">
                     <md-button ng-click=vm.choosePrimary(number)>{{ number }}</md-button>
                  </li>
               </ul>
            </div>
         </section>

         <!-- Secondary Picker -->
         <section class=number-picker ng-show="vm.primaryNumbers.chosen.length === vm.primaryNumbers.total">
            <h6>Choose Bonus numbers</h6>
            <ul>
               <li ng-repeat="number in vm.secondaryNumbers.list track by $index" ng-class="{'selected': vm.secondaryNumbers.chosen.indexOf(number) > -1}">
                  <md-button ng-click=vm.chooseSecondary(number)>{{ number }}</md-button>
               </li>
            </ul>
         </section>
      </div>
   </article>

   <!-- Receipt side -->
   <!-- <aside class="receipt" ng-hide="(vm.isMobile && vm.cartItem.lines.length <= 0) || vm.choosingNumbers == true"> -->
   <aside class=receipt ng-hide="vm.isMobile && vm.choosingNumbers">

      <!-- Ticket list -->
      <section class=ticket-list>
         <h5>Your Lucky numbers</h5>
         <md-button class="md-raised choose-numbers" ng-click=vm.chooseNumbers()>Choose Numbers</md-button>
         <div class=list>
            <div class=ticket-error ng-if="vm.cartItem.lines.length <= 0">
               You haven't selected any lucky numbers yet, use the ticket selector on the left to choose your lucky numbers
            </div>
            <div class=ticket ng-repeat="line in vm.cartItem.lines track by $index">
               <ul class=numbers>
                  <li ng-repeat="number in line.primaryNumbers">
                     <button>{{ number }}</button>
                  </li>
                  <li class=secondary ng-repeat="number in line.secondaryNumbers">
                     <button>{{ number }}</button>
                  </li>
               </ul>
               <md-button>
                  <md-icon ng-click=vm.cartItem.removeLine($index)>delete</md-icon>
               </md-button>
            </div>
         </div>
         <div class=day-picker ng-if="vm.cartItem.lines.length > 0">
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(1) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(1) > -1}" ng-click=vm.cartItem.toggleDrawDay(1)>Mon
            </md-button>
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(2) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(2) > -1}" ng-click=vm.cartItem.toggleDrawDay(2)>Tue
            </md-button>
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(3) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(3) > -1}" ng-click=vm.cartItem.toggleDrawDay(3)>Wed
            </md-button>
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(4) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(4) > -1}" ng-click=vm.cartItem.toggleDrawDay(4)>Thu
            </md-button>
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(5) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(5) > -1}" ng-click=vm.cartItem.toggleDrawDay(5)>Fri
            </md-button>
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(6) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(6) > -1}" ng-click=vm.cartItem.toggleDrawDay(6)>Sat
            </md-button>
            <md-button ng-if="vm.product.ticket.drawDays.indexOf(7) > -1" ng-class="{'selected': vm.cartItem.drawDays.indexOf(7) > -1}" ng-click=vm.cartItem.toggleDrawDay(7)>Sun
            </md-button>
         </div>
      </section>

      <!-- Payment options -->
      <section class=payment-options>
         <h5>How do you want to play</h5>
         <ul class=choose-bar>
            <li>
               <md-button ng-class="{'selected': vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.ONCE}" ng-click=vm.cartItem.setPlayingPeriod(vm.PLAYING_PERIODS.ONCE)>Just once
               </md-button>
            </li>
            <li>
               <md-button ng-class="{'selected': vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SUBSCRIPTION}" ng-click=vm.cartItem.setPlayingPeriod(vm.PLAYING_PERIODS.SUBSCRIPTION)>Every Week
               </md-button>
            </li>
            <li>
               <md-button ng-class="{'selected': vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SET_WEEKS}" ng-click=vm.cartItem.setPlayingPeriod(vm.PLAYING_PERIODS.SET_WEEKS)>For X Weeks
               </md-button>
            </li>
         </ul>
      </section>

      <!-- How often to play -->
      <section class=payment-period ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SET_WEEKS">
         <h5>Choose number of weeks</h5>
         <ul class="choose-bar week-counter">
            <li><md-button ng-click=vm.cartItem.decreasePlayingLength();>-</md-button></li>
            <li><md-button>{{ vm.cartItem.playingPeriodLength }}</md-button></li>
            <li><md-button ng-click=vm.cartItem.increasePlayingLength()>+</md-button></li>
         </ul>
      </section>

      <!-- Play options -->
      <section class=play-options ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SUBSCRIPTION">
         <h5>How do you want to pay</h5>
         <ul class=choose-bar>
            <li>
               <md-button ng-class="{'selected': vm.cartItem.billingPeriod === vm.BILLING_PERIODS.WEEKLY}" ng-click=vm.cartItem.setBillingPeriod(vm.BILLING_PERIODS.WEEKLY)>Weekly
               </md-button>
            </li>
            <li>
               <md-button ng-class="{'selected': vm.cartItem.billingPeriod === vm.BILLING_PERIODS.MONTHLY}" ng-click=vm.cartItem.setBillingPeriod(vm.BILLING_PERIODS.MONTHLY)>Monthly
               </md-button>
            </li>
            <li>
               <md-button ng-class="{'selected': vm.cartItem.billingPeriod === vm.BILLING_PERIODS.QUATERLY}" ng-click=vm.cartItem.setBillingPeriod(vm.BILLING_PERIODS.QUATERLY)>Quarterly
               </md-button>
            </li>
         </ul>
      </section>

      <!-- Playslip Summary-->
      <section class=summary>
         <h5>Play Total</h5>
         <div class=summary-info>
            <p>{{ vm.cartItem.lines.length }} {{ vm.product.name }} <strong>{{ vm.cartItem.linePrice | number }} {{ vm.cartItem.currency }} per entry</strong></p>
            <p ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.ONCE">You’ve chosen to play just once, don’t forget that if you don’t play, you can’t win! To keep your numbers safe, and play every week, choose the “EVERY WEEK” option above.</p>
            <p ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SET_WEEKS">Congratulations, you’ve chosen to play for {{ vm.cartItem.playingPeriodLength }} weeks to keep your numbers safe to make sure you don’t miss out! We will charge your chosen payment method in advance for these entries.</p>
            <p ng-if="vm.cartItem.playingPeriod === vm.PLAYING_PERIODS.SUBSCRIPTION">Congratulations, you’ve chosen to keep your numbers safe and play every week. We will charge your chosen payment method each month prior to the draw.</p>
            <p>
               Total payable
               <span ng-if="vm.cartItem.billingPeriod === vm.BILLING_PERIODS.WEEKLY">weekly</span>
               <span ng-if="vm.cartItem.billingPeriod === vm.BILLING_PERIODS.MONTHLY">monthly</span>
               <span ng-if="vm.cartItem.billingPeriod === vm.BILLING_PERIODS.QUATERLY">quaterly</span>
               <strong>{{ vm.cartItem.subTotal | number }} {{ vm.cartItem.currency }}</strong>
            </p>
         </div>
         <md-button class="md-raised secondary checkout" ng-click=vm.addToCart() ng-disabled="vm.cartItem.subTotal <= 0">Add to Playslip</md-button>
      </section>
   </aside>

</section>