$results-mediumblue: $primary-color;
$results-orange: $secondary-color;
$reults-gray: #AAAAAA;
$results-darkblue : $primary-color;

.drawHistory{
  width: 100%;
  .drawHeader{
    margin-bottom: 40px;
    .logo{
      width: 70px;
      height: 70px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .name{
      margin-left: 20px;
      h2{
        color: black;
        margin: 0;
        line-height: 1;
      }
    }
  }
  .margin-between{
    margin: 5px 0;
  }
  .drawsWrap{
    position: relative;
    min-height: 350px;
    .drawRow{
      margin: 10px 0;
      padding: 5px 25px;
      border-radius: 25px;
      border:1px solid $reults-gray;
      .bigText{
        font-size: 20px;
      }
      .ball{
        width: 40px;
        height: 40px;
        border-radius: 25px;
        background: red;
        color: white;
        margin-right: 5px;
      }
      .ball.primary{
        background: $results-mediumblue;
      }
      .ball.secondary{
        background: $results-orange;
      }
      .prizeBreakdownBtn{
        background: $results-orange;
        color: white;
      }
    }
  }
}
