<article class="lottery-item">
   <!-- Lottery Header -->
   <header ng-style="{'background-image': 'url(./assets/images/flags/full/{{ vm.data.drawTypeId }}.jpg)'}">
      <div class="name">
         <img ng-src="assets/images/lotteries/{{ vm.data.drawTypeId }}.png" alt="{{ vm.data.name }}" />
         <h5>{{ vm.data.name }}</h5>
      </div>
      <div class="jackpot">
         <h2>{{ vm.data.jackpot.local.currency }} {{ vm.data.jackpot.local.value | jackpot }} <!-- <small>M</small> --></h2>
         <span calass="jackpot-type">Estimated Jackpot</span>
      </div>
   </header>
   
   <!-- Lottery main information section -->
   <section class="info">
      <h5>{{ vm.data.ticket.price }} {{ vm.data.ticket.currency }} per entry</h5>
      <small>Low price guaranteed</small>

      <div class="next-draw">
         <h6><md-icon>&#xE192;</md-icon> Next draw</h6>
         <count-down-circle end-date="{{ vm.data.drawDates.next }}"></count-down-circle>
      </div>
   </section>
   
   <!-- Lottery footer -->
   <footer>
      <md-button><md-icon>&#xE88F;</md-icon> Learn More</md-button>
      <md-button class="md-accent md-raised" ng-click="vm.play()">Play Now!</md-button>
   </footer>
</article>