<article class="cashier">
  <!-- cashout header starts here -->
  <md-toolbar class="header">
    <div class="md-toolbar-tools">
      <h2>Cashier</h2>
      <span flex></span>
      <!-- drop down , options menu start -->
      <md-menu class="cashoutHeaderSideMenu" md-position-mode="target-right target" md-offset="-15 40">
        <!-- Trigger button -->
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
          <i class="material-icons more">more_vert</i>
        </md-button>
        <!-- Menu items -->
        <md-menu-content width="4">
          <div class="menuItemsHeader">
            <h4>Checkout</h4>
          </div>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button class="menuItemsBtns" ng-click="doSomething()">
              <!-- <i class="material-icons add">add_circle</i> -->
              Some Action 1
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button class="menuItemsBtns" ng-click="doSomething()">
              <!-- <i class="material-icons">delete</i> -->
              Some Action 2
            </md-button>
          </md-menu-item>
        </md-menu-content>
        <!-- Menu items ends -->
      </md-menu>
      <!-- drop down , options menu ends -->
    </div>
  </md-toolbar>
  <!-- cashout header ends here -->

  <!-- Total price row starts -->
  <div layout="row" class="totalSumRowCashier md-whiteframe-1dp" layout-align="space-between center">
    <div layout="row" layout-align="center center">
      <i class="material-icons">euro_symbol</i>
      <span>00.00 total</span>
    </div>
    <md-button class="md-accent md-raised">Show Playslip</md-button>
  </div>
  <!-- Total row price ends -->

  <!-- Payment Methods -->
  <div class="cashierPaymentMethods md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <!-- method 1 -->
    <div class="paymentMethod active">
      Credit & Debit Cards
    </div>
    <!-- method 1 ends -->

    <!-- method 2 -->
    <div class="paymentMethod">
      Other Method
    </div>
    <!-- method 2 ends -->

    <!-- method 3 -->
    <div class="paymentMethod">
      Other
    </div>
    <!-- method 3 ends -->
  </div>
  <!-- Payment Methods ends -->

  <div class="cardDetailsWrap">
    <!-- saved cards header -->
    <div layout="row" class="paymentHeaders" layout-align="space-between center">
      <div flex>
        <div class="saveIcon">
          <i class="material-icons">save</i>
        </div>
        <span>saved cards</span>
      </div>
      <i class="material-icons">keyboard_arrow_up</i>
    </div>
    <!-- saved cards header ends-->

    <!-- saved cards body -->
    <div layout="row" class="cardsBody" layout-align="space-between center">
      <div flex="45" class="paymentCard md-whiteframe-4dp">
        <div layout="row" layout-align="center center">xxxx xxxx xxxx 0000</div>
        <div layout="row" layout-align="end center">Visa</div>
      </div>

      <div flex="45" class="paymentCard md-whiteframe-4dp">
        <div layout="row" layout-align="center center">xxxx xxxx xxxx 0000</div>
        <div layout="row" layout-align="end center">Visa</div>
      </div>

    </div>
    <!-- saved cards body ends-->

    <!-- fill credi card text header -->
    <div layout="row" class="paymentHeaders" layout-align="space-between center">
      <div flex>
        <div class="saveIcon">
          <i class="material-icons">save</i>
        </div>
        <span>Pay By card</span>
      </div>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <!-- fill credi card text header ends-->

    <!-- payment card info starts -->
    <div layout="row" class="cardsBody" layout-align="center center">
      <!-- the card itself -->
      <div flex="100" class="md-whiteframe-4dp">
        <!-- form to hold the information -->
        <md-content layout-padding>
          <div>
            <form name="cardForm" ng-submit="pay()">
              <!-- card number -->
              <md-input-container class="md-block" flex-gt-xs>
                <label>Card Number</label>
                <input ng-model="card.number">
              </md-input-container>
              <!-- card number ends -->

              <!-- card expity month and date -->
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                  <label>Expity Motnh</label>
                  <md-select ng-model="card.expiry.month">
                    <md-option ng-repeat="month in months" value="{{month}}">
                      {{month}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-datepicker class="margin-top" ng-model="card.expiry.date"></md-datepicker>
              </div>
              <!-- card expity month and date ends -->

              <!-- card security code starts -->
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex="40">
                  <label>Security code (CVV)</label>
                  <input ng-model="card.cvv">
                </md-input-container>
              </div>
              <!-- card security code ends -->

              <!-- card holder code starts -->
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex="70">
                  <lable></lable>
                  <input ng-model="card.cardholder"/>
                </md-input-container>
              </div>
              <!-- card holder code ends -->
            </form>
          </div>
          <!-- paying button -->
          <div layout="row" class="" layout-align="space-between center">
            <div> Visa</div>
            <md-button class="md-accent md-raised">Continue</md-button>
          </div>
          <!-- paying button ends -->
        </md-content>
      </div>
      <!-- the card itself ends-->
    </div>
    <!-- payment card info ends -->
  </div>
</article>
