/*
|--------------------------------------------------------------------------
| Cashier Styles
|--------------------------------------------------------------------------
*/

$cashier-header-background: map-deep-get($seven-palette, 'blue', 'base');

$cashier-orange: map-deep-get($seven-palette, 'orange', 'base');
$cashier-darkblue:  #4172BE;
$cashier-gray: #AAAAAA;
$cashier-lightblue: #7EC2F5;
$cashier-mediumblue: #549AD7;
.margin-top{
  margin-top: 18px;
}
/*
|--------------------------
| Mobile Up
|--------------------------
*/
article.cashier {
    max-width: 500px;
    border: 1px dashed blue;
}
.totalSumRowCashier{
  padding: 15px;
  div:nth-child(1){
    color: $cashier-gray;
    span{
      font-size: 1.7em;
      word-spacing: .5vw;
    }
    i{
      margin-right: 10px;
    }
  }
  button{
    padding: 10px 30px !important;
    font-size: 1vw;
    background-color: $cashier-darkblue !important;
  }
}
.active{
  border-bottom: 2px solid $cashier-orange;
}
.cashierPaymentMethods{
  background:$cashier-lightblue;
  padding: 0 10px;
  .paymentMethod{
    padding: 15px 0px;
    text-transform: capitalize;
    color: white;
    font-size: 16px;
  }
}
.cardDetailsWrap{
  min-height: 500px;
}
.paymentHeaders{
  padding: 15px 10px;
  i{
    font-size: 30px;
    top: 5px;
    color:$cashier-mediumblue;
  }
  div{
    display: inline-block;
    span{
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      color:$cashier-mediumblue;
    }
    i{
      font-size: 28px;
      top: 2px;
      left: 3px;
    }
  }

}
.saveIcon{
  width: 36px;
  height: 36px;
  background: $cashier-mediumblue;
  border-radius: 18px;
  margin-right: 10px;
  padding: 1px;
  i{
    color: white;
  }
}
.cardsBody{
  min-height: 60px;
  padding: 10px 15px;
}
.paymentCard{
  padding: 20px 15px;
  div:nth-child(1){
    font-size: 16px;
    color: $cashier-mediumblue;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
  }
  div:nth-child(2){
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: $cashier-darkblue;
    font-size: 18px;
  }
}

/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    article.cashier {

    }
}
