/*
|--------------------------------------------------------------------------
| Content Carousel Styles
|--------------------------------------------------------------------------
*/

$content-carousel: (
    'arrow': (
        'size': 40px,
        'background': $secondary-color,
        'color': #fff,
        'shadow': 0px 0px 4px 1px rgba(0,0,0,0.25)
    ),
    'dots': (
        'size': 20px,
        'color': #9B9B9B,
        'active': $primary-color,
        'spacing': 10px,
        'shadow': 2px 2px 4px 1px rgba(0,0,0,0.45)
    )
) !default;


content-carousel,
[content-carousel],
.content-carousel {
    display: block;

    // Slick slider
    .slick-slider {
        padding: 0 map-deep-get($content-carousel, 'arrow', 'size') / 2;
    }

    // Slick item
    .slick-slide {}

    // Previous & next button
    .slick-prev, .slick-next {
        height: map-deep-get($content-carousel, 'arrow', 'size');
        width: map-deep-get($content-carousel, 'arrow', 'size');
        line-height: map-deep-get($content-carousel, 'arrow', 'size');
        text-align: center;
        background-color: map-deep-get($content-carousel, 'arrow', 'background');
        outline: none;
        border: none;
        color: map-deep-get($content-carousel, 'arrow', 'color');;
        padding: 0;
        border-radius: 100%;
        @if map-deep-get($content-carousel, 'arrow', 'shadow') {
            box-shadow: map-deep-get($content-carousel, 'arrow', 'shadow');
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        i {
            width: 100%;
            height: 100%;
            line-height: inherit;
            vertical-align: middle;
            font-size: rem-calc(30);
            font-weight: bold;
        }
    }

    // Previous button
    .slick-prev {
        left: map-deep-get($content-carousel, 'arrow', 'size') / 3 * -1;
    }

    // Next button
    .slick-next {
        right: map-deep-get($content-carousel, 'arrow', 'size') / 3 * -1;
    }

    // Dots
    .slick-dots {
        @include clearfix;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        bottom: 0;
        right: 0;
        li {
            height: map-deep-get($content-carousel, 'dots', 'size');
            width: map-deep-get($content-carousel, 'dots', 'size');
            background-color: map-deep-get($content-carousel, 'dots', 'color');
            border-radius: 100%;
            float: left;
            margin-left: map-deep-get($content-carousel, 'dots', 'spacing');
            cursor: pointer;
            @if map-deep-get($content-carousel, 'dots', 'spacing') {
                box-shadow: map-deep-get($content-carousel, 'dots', 'spacing');
            }
            &.slick-active {
                background-color: map-deep-get($content-carousel, 'dots', 'active');
            }
        }
        button {
            display: none;
        }
    }
}

