<header class=dialog-header>
    <h1>Transaction History</h1>
</header>
<section class=dialog-content>
    <!-- Processing -->
    <md-progress-circular ng-show=vm.processing md-diameter=120></md-progress-circular>

    <div ng-show=!vm.processing>
        <!-- Display the transaction details table -->
        <table cellspacing=0 cellpadding=0 class=table ng-show="vm.transactions.length > 0">
            <tr>
                <th>Date</th>
                <th nowrap>Transaction ID</th>
                <th>Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th nowrap>Old Balance</th>
                <th nowrap>New Balance</th>
            </tr>
            <tbody>
            <tr ng-repeat="transaction in vm.transactions track by $index">
                    <td ng-bind="transaction.createdTime | date:'dd MMM yyyy'" ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'" nowrap>&nbsp;</td>
                    <td ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'">{{transaction.wltTxnId}}</td>
                    <td ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'">{{transaction.txnKind}}</td>
                    <td ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'">{{descriptions[transaction.txnType]}}</td>
                    <td ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'">{{transaction.amount/100}}</td>
                    <td ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'">{{transaction.oldBalance/100}}</td>
                    <td ng-click=viewCashoutDetails(transaction.sourceReferenceTxnId) ng-if="transaction.txnType=='cashout'">{{transaction.newBalance/100}}</td>
                    <td ng-bind="transaction.createdTime | date:'dd MMM yyyy'" ng-if="transaction.txnType != 'cashout'" nowrap>&nbsp;</td>
                    <td ng-if="transaction.txnType != 'cashout'">{{transaction.wltTxnId}}</td>
                    <td ng-if="transaction.txnType != 'cashout'">{{transaction.txnKind}}</td>
                    <td ng-if="transaction.txnType != 'cashout'">{{descriptions[transaction.txnType]}}</td>
                    <td ng-if="transaction.txnType != 'cashout'">{{transaction.amount/100}}</td>
                    <td ng-if="transaction.txnType != 'cashout'">{{transaction.oldBalance/100}}</td>
                    <td ng-if="transaction.txnType != 'cashout'">{{transaction.newBalance/100}}</td>
                </tr>
            </tbody>
        </table>

        <p ng-show="vm.transactions.length == 0">You have no transactions</p>
    </div>

</section>