<main class=contact-page>
  <section class=page-banner>
  </section>

  <section class=subtitle>
    <h2>How can we help?</h2>
  </section>

  <section class=content-with-sidebar>
    <div class=row>
      <article>
        <div class=box>
          <div class=padding>
            <h3>Account Queries</h3>
            <p>If you have any queries regarding you account or just about playing at 7Lottos, you can get in touch with our friendly customer service team via email or telephone.</p>

            <md-button class="md-raised primary">
              Start Chat
            </md-button>
            <md-button class="md-raised primary">
              Send a message
            </md-button>

          </div>
        </div>
        <div class=box>
          <div class=padding>
            <h3>Frequently Asked Questions</h3>
            <p>Don't forget, it's also worth checking out our frequently asked questions before contacting live support, as this often proves to be a simpler way to finding you a solution faster</p>

            <faq-component></faq-component>

          </div>
        </div>
      </article>
      <aside>
        <div class=box>
          <h4>Get In Touch</h4>
          <div class=padding>
            <p>Our live chat facility is open from 8am to 4pm CET daily.</p>
            <md-button class="md-raised primary">
              Start Chat
            </md-button>
          </div>
          <hr>
          <div class=padding>
            <p>If you'd rather get in touch via email, you can send a message at any time to support@7lottos.com and we will endeavour to respond to your enquiry as soon as possible.</p>
            <md-button class="md-raised primary">
              Send a message
            </md-button>
          </div>
        </div>
      </aside>
    </div>
  </section>

  <!--    <article>
      <arrow-bar direction="false">
         <h5>We also have 32 lotteries to play securely online</h5>
      </arrow-bar>
      <section class="test">
		<div>
			<playslip></playslip>
		</div>

		<div>
			<cashier></cashier>
		</div>
      </section>
   </article> -->
</main>
