<footer class=page-footer>

   <section class=primary-footer>
      <div class=row>
         <!-- About 7Lottos -->
         <section class=about>
            <h4><md-icon>&#xE88F;</md-icon> About 7Lottos</h4>
            <p>7Lottos.com services are operated by Winners Management Limited, a group that has been offering lottery online and offline for more than ten years. Since our inception, we have sold more than half a million winning tickets to over 20,000 subscribers and we have paid out millions in prizes.</p>
            <p>We offer two ways to play – by choosing your own numbers, or joining one of our popular online virtual syndicates. We offer the most popular lotteries from across the world.</p>
         </section>

         <!-- Play world lotteries -->
         <section class=play>
            <h4><md-icon>&#xE88F;</md-icon> Play Worldwide Lotto</h4>
            <ul>
               <li><a href=#>Play France Lotto</a></li>
               <li><a href=#>Play Mega Millions</a></li>
               <li><a href=#>Play Lotto 6aus49</a></li>
               <li><a href=#>Play SuperEnaLotto</a></li>
               <li><a href=#>Play EuroMillions</a></li>
               <li><a href=#>Play UK National Lottery</a></li>
               <li><a href=#>Play Austria Lotto</a></li>
               <li><a href=#>Play Syndicate</a></li>
            </ul>
         </section>

         <!-- Regulation -->
         <section class=regulations>
            <h4><md-icon>&#xE88F;</md-icon> Regulation</h4>
            <p>7Lottos.com Regulated services are provided under Winners Entertainment Limited (Registration No. 112499), registered at Suite 2B, 143 Main Street, Gibraltar GX11 1AA.</p>
            <p>Winners Entertainment Limited is licensed by the Government of Gibraltar & regulated by the Gibraltar Gambling Commissioner under licence RGL NO. 086.</p>
         </section>

         <!-- Payment Options -->
         <section class=payments>
            <h4><md-icon>&#xE8A1;</md-icon> Payment Options</h4>
            <ul>
               <li><md-icon md-svg-src=/assets/images/payment/visa.flat.svg></md-icon></li>
               <li><md-icon md-svg-src=/assets/images/payment/mastercard.flat.svg></md-icon></li>
               <li><md-icon md-svg-src=/assets/images/payment/maestro.flat.svg></md-icon></li>
               <li><md-icon md-svg-src=/assets/images/payment/sepa.flat.svg></md-icon></li>
               <li><md-icon md-svg-src=/assets/images/payment/trustly.flat.svg></md-icon></li>
               <li><md-icon md-svg-src=/assets/images/payment/wirecard.flat.svg></md-icon></li>

               <!--
               <li><img src="../assets/images/payment/visa.flat.svg" alt="Visa" /></li>
               <li><img src="../assets/images/payment/mastercard.flat.svg" alt="Mastercard" /></li>
               <li><img src="../assets/images/payment/maestro.flat.svg" alt="Maestro" /></li>
               <li><img src="../assets/images/payment/sepa.flat.svg" alt="SEPA" /></li>
               <li><img src="../assets/images/payment/trustly.flat.svg" alt="Trustly" /></li>
               <li><img src="../assets/images/payment/wirecard.flat.svg" alt="Wirecard" /></li>
               -->

               <li><img src=../assets/images/payment/instadebit.flat.png alt=Instadebit></li>
               <!-- <li><img src="../assets/images/payment/smart2pay.flat.png" alt="Smart2Pay" /></li> -->
               <li><img src=../assets/images/payment/idebit.flat.png alt=iDebit></li>
            </ul>
         </section>

         <!-- Security -->
         <section class=security>
            <h4><md-icon>&#xE876;</md-icon> Security</h4>
            <div>
               <img src=../assets/images/comodo.secure.svg alt="Comodo Secure">
               <p>2048-bit, highest assurance SSLCertificate.</p>
            </div>
         </section>

         <!-- Contact Us -->
         <section class=contact>
            <h4><md-icon>&#xE311;</md-icon> Contact Us</h4>
            <md-button class=my-primary>support@7lottos.com</md-button>
            <md-button class="md-raised md-warn">Chat</md-button>
         </section>
      </div>
   </section>

   <!-- Secondary footer -->
   <section class=secondary-footer>
      <ul>
         <li><a href=#>About Us</a></li>
         <li><a href=#>Terms of Use</a></li>
         <li><a href=#>Privacy Policy</a></li>
         <li><a href=#>Site Map</a></li>
         <li><a href=#>Affiliate Program</a></li>
         <li><a href=#>Responsible Gaming Policy</a></li>
         <li><a href=#>Draw Rules</a></li>
      </ul>
   </section>
</footer>
