/*
|--------------------------------------------------------------------------
| Play Page
|--------------------------------------------------------------------------
*/


/*
|--------------------------
| Mobile Up
|--------------------------
*/
main.play-page {


    // Promotional area
    .promo {
        @include aspect-ratio(1440, 370);
        background-image: image-url('promo.banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 400px;

        .content {
            @include aspect-ratio-content(fill);
            display: flex;

            .container {
                @include grid-container;
                align-self: center;
            }

            h1, h3 {
                line-height: 1;
            }
            h3 {
                margin-bottom: 0;
            }
        }

        // .container > h4, h2 {
        //     line-height: 1;
        //     margin-bottom: 0;
        //     text-shadow: $global-text-shadow;
        // }

        // .container > h4 {
        //     font-size: rem-calc(38);
        //     color: palette('green', 'base');
        // }

        // .container > h2 {
        //     font-size: rem-calc(60);
        //     margin-bottom: 1rem;
        // }
        
    

        // .next-draw {
        //     display: table;
        //     margin-bottom: 1rem;
        //     > div {
        //         display: table-cell;
        //         vertical-align: middle;
        //     }
        //     > div:first-child {
        //         max-width: 80px;
        //         max-height: 80px;
        //     }
        //     > div:last-child {
        //         padding-left: 20px;
        //         span {
        //             color: $white;
        //             font-weight: $font-weight-bold;
        //             text-shadow: $global-text-shadow;
        //         }
        //         h1 {
        //             line-height: 1;
        //             text-shadow: $global-text-shadow;
        //             small {
        //                 font-size: rem-calc(18);
        //                 color: inherit;
        //             }
        //         }
        //     }
        // }

        // .md-button {
        //     font-size: 2rem;
        //     height: 55px;
        //     width: 210px;
        // }
    }

    // Sorting bar
    .sorting-bar {
        background-color: $secondary-color;
        color: map-get($page-title-bar, 'color');
        .container {
            @include grid-container;
        }
        md-tabs .md-tab {
            color: $white;
            font-size: rem-calc(22);
            &.md-active {
                color: $white;
            }
        }
        md-tabs md-ink-bar {
            color: darken(map-get($page-title-bar, 'background'), 15%);
            background-color: darken(map-get($page-title-bar, 'background'), 15%);
        }
    }

    // Filter bar
    .filter-bar {
        background-color: $light-gray;
        margin-bottom: 1.5rem;
        .container {
            @include grid-container();
            @include clearfix;
            height: rem-calc(40);
            line-height: rem-calc(40);
        }
        .title {
            font-weight: bold;
            float: left;
            margin-right: 15px;
            color: #9B9B9B;
        }
        .options {
            float: left;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            float: left;
            padding: 0 10px;
            cursor: pointer;
            position: relative;
            user-select: none;
            outline: none;
            span {
                font-weight: bold;
                color: #9B9B9B;
                padding: 4px 10px;
                text-decoration: none;
                border-radius: 3px;
                text-transform: uppercase;
                user-select: none;
            }
            &.selected span {
                background: #9B9B9B;
                color: $white;
            }
        }
    }


    // 
    .lotteries {
        @include grid-row;
        clear: both;

        // Lottery column
        .col {
            @include grid-column(1 of 1, $gutter-sides: left right bottom);
        }
    }

    // Learn more
    .learn-more {
        header {
            background-color: palette('blue', 'dark');
            text-align: center;
            padding: rem-calc(10 0);
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 50px;
                width: 50px;
                background-color: palette('blue', 'dark');
                left: 50%;
                top: 100%;
                transform: rotate(45deg) translateX(-50%);
                margin-top: -8px;
                z-index: 0;
            }
            &:before {
                content: '';
                display: block;
                border-right: 3px solid white;
                border-bottom: 3px solid white;
                width: 40px;
                height: 40px;
                left: 50%;
                top: 100%;
                transform: rotate(45deg) translateX(-50%);
                position: absolute;
                z-index: 99;
                margin-top: -6px;
                margin-left: 1px;
            }
            h4 {
                margin: 0;
                font-size: rem-calc(24);
                z-index: 1;
                position: relative;
            }
        }
        .container {
            @include grid-container;
            min-height: 400px;
            position: relative;
            .content {
                @include aspect-ratio-content(center, left);
                @include grid-container-gutter;
                h2, h4 {
                    line-height: 1;
                }
                h4 {
                    font-size: rem-calc(38);
                    color: $dark-gray;
                }
                h2 {
                    color: $primary-color;
                    font-size: rem-calc(60);
                }
            }
        }
    }
}


/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium down) {
    main.play-page {
        

        .content-with-sidebar aside {
            display: none;
        }
    }
}



/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium up) {
    main.play-page {

        .lotteries {

            // Lottery column
            .col {
                @include grid-col-size(1 of 2);
            }
        }

    }
}


/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    main.play-page {

        .lotteries {

            // Lottery column
            .col {
                @include grid-col-size(1 of 3);
            }
        }
    }
}




// .iso {
//     display: none;
//     @include grid-context-start($driver: default);
//     @include grid-container;
//     > .row {
//         @include grid-row;
//         > article {
//             @include grid-column(15 of 20);
//             .row {
//                 @include grid-row($nest: false);
//                 .col {
//                     @include grid-column(1 of 3, $gutter-sides: top right bottom left);
//                 }
//             }
//         }
//         > aside {
//             @include grid-column(5 of 20, $gutter-sides: right);
//             .playslip {
//                 margin-top: 20px;
//             }
//         }
//     }
//     @include grid-context-end();
// }