<div class=time>
   <span class=number ng-if="vm.currentProgress !== vm.maxProgress">{{ vm.currentProgress }}</span>
   <span class=text>{{ vm.currentText }}</span>
</div>
<round-progress max=vm.maxProgress current=vm.currentProgress color=#FF5E5B bgcolor=#eaeaea radius=100 stroke=10 semi=false rounded=true clockwise=false responsive=true duration=800 animation=easeInOutQuart animation-delay=0>