<main class=play-page>
   <!-- Promo areaa -->
   <section class=promo>
      <div class=content>
         <div class=container>
            <h3 class="yellow shadow">Best Price Guarantee</h3>
            <h1 class=shadow>Play euromillions</h1>
            <next-draw product-id=6 jackpot=19></next-draw>
         </div>
      </div>
   </section>

   <!-- Sorting bar -->
   <section class=sorting-bar>
      <div class=container>
         <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label=All ng-click="playPage.setFilter('all')"></md-tab>
            <md-tab label=Syndicates ng-click="playPage.setFilter('syndicates')"></md-tab>
            <md-tab label="Single Tickets" ng-click="playPage.setFilter('single_line')"></md-tab>
            <md-tab label="European lotteries" ng-click="playPage.setFilter('european')"></md-tab>
            <md-tab label="Huge Jackpots" ng-click="playPage.setFilter('huge')"></md-tab>
            <md-tab label="Great odds" ng-click="playPage.setFilter('odds')"></md-tab>
         </md-tabs>
      </div>
   </section>

   <!-- Filter results two -->
   <section class=filter-bar>
      <div class=container>
         <div class=title>Sort Options</div>
         <ul class=options>
            <li ng-click="playPage.setOrder('next')" ng-class="{'selected': playPage.sortType == '_date'}">
               <span href=#>Next Draw</span>
            </li>
            <li ng-click="playPage.setOrder('jackpot')" ng-class="{'selected': playPage.sortType == '_jackpot'}">
               <span href=#>Jackpot</span>
            </li>
            <li ng-click="playPage.setOrder('name')" ng-class="{'selected': playPage.sortType == 'name'}">
               <span href=#>A-Z</span>
            </li>
         </ul>
      </div>
   </section>

   <!-- Main area with side bar -->
<!--    <section class="iso">
      <div class="row">
         <article>
            <div class="row" isotope-container>
               <div class="col" ng-repeat="game in playPage.products track by game.id" ng-class="game._classes" isotope-item>
                  <lottery-item data="game"></lottery-item>
               </div>
            </div>
         </article>
         <aside>
            NOW

            <div style="border: 1px solid red; padding: 10px;" opt-kind ok-key="filter">
               <button ok-sel="*">Show All</button>
               <button ok-sel=".syndicate">Syndicates</button>
               <button ok-sel=".singleline">Single Line</button>
               <button ok-sel=".european">European Lotteries</button>
               <button ok-sel=".huge">Huge Jackpots</button>
               <button ok-sel=".odds">Great Odds</button>
            </div>

            <div>
               <div class="btn-group" opt-kind ok-key="sortBy">
                 <button type="button" ok-sel="name">Name</button>
                 <button type="button" ok-sel="[number]" ok-type="integer">Number</button>
                 <button type="button" ok-sel="[date]" ok-type="integer">Date</button>
               </div>
            </div>

         </aside>
      </div>
   </section> -->

   <section class=content-with-sidebar>
      <div class=row>
         <article>
            <div class=lotteries>
               <div class=col ng-repeat="game in playPage.games | orderBy:playPage.sortType:playPage.sortReverse|filter:playPage.sortFilter">
                  <syndicate-item ng-if="game.productType == playPage.productTypes.SYNDICATE" data=game></syndicate-item>
                  <lottery-item ng-if="game.productType == playPage.productTypes.SINGLE_LINE" data=game></lottery-item>
               </div>
            </div>
         </article>
         <aside>
            <playslip></playslip>
         </aside>
      </div>
   </section>
   
   <!-- Learn more about syndicates -->
   <section class=learn-more>
      <arrow-bar direction=down>
         <h5>Learn more about syndicates</h5>
      </arrow-bar>
      <div class=container>
         <div class=content>
            <h4>Up to 217 chances to win weekly</h4>
            <h2>Everyday is a lotto day</h2>
         </div>
      </div>
   </section>
</main>