<article class="playslip md-whiteframe-1dp">
   <!-- playslip header starts here -->
   <md-toolbar class=header>
      <div class=md-toolbar-tools>
         <h2>Playslip</h2>
         <span flex></span>
         <!-- drop down , options menu start -->
         <md-menu class=playslipHeaderSideMenu md-position-mode="target-right target" md-offset="-15 40">
            <!-- Trigger button -->
            <md-button ng-click=$mdOpenMenu($event) class=md-icon-button aria-label="Open sample menu">
               <i class="material-icons more">more_vert</i>
            </md-button>
            <!-- Menu items -->
            <md-menu-content width=4>
               <div class=menuItemsHeader>
                  <h4>Checkout</h4>
               </div>
               <md-divider></md-divider>
               <md-menu-item>
                  <md-button class=menuItemsBtns ui-sref=play>
                     <i class="material-icons add">add_circle</i>
                     Add more tickets
                  </md-button>
               </md-menu-item>
               <md-menu-item>
                  <md-button class=menuItemsBtns ng-click=vm.removeAllProducts()>
                     <i class=material-icons>delete</i>
                     Remove all tickets
                  </md-button>
               </md-menu-item>
            </md-menu-content>
            <!-- Menu items ends -->
         </md-menu>
         <!-- drop down , options menu ends -->
      </div>
   </md-toolbar>
   <!-- playslip header ends here -->

   <!-- Total price row starts -->
   <div layout=row class="totalSumRow md-whiteframe-1dp" layout-align="space-between center">
      <div layout=row layout-align="center center">
         <!-- <i class="material-icons">euro_symbol</i> -->
         <span>{{ vm.session.currency }} {{ vm.cart.subTotal | number:0 }}</span>
      </div>
      <md-button ng-if=vm.showCheckout class="secondary md-raised" ui-sref=checkout>Checkout</md-button>
   </div>
   <!-- Total row price ends -->

   <!-- Lottery Tickets Wrap begin -->
   <div class=ticketWrap>
      <!-- Lottery Tickets Row begin -->
      <div layout=row ng-repeat="product in vm.cart.items track by $index" layout-align="center center">
         <!-- loto logo -->
         <div class=lotteryLogo flex=20 layout=row layout-align="center center">
            <img ng-src="assets/images/lotteries/{{ product.drawTypeId }}.png" alt="{{ product.name }}">
         </div>
         <!-- loto text -->
         <div class=lotteryDetails flex=80 layout=row layout-align="space-between center">
            <!-- left section -->
            <div layout=column layout=column layout-align="center center" flex=30>
               <span>{{ product.name }}</span>
               <div class=blueLabel ng-if="product.playingPeriod == vm.PLAYING_PERIODS.SUBSCRIPTION">Subscription</div>
            </div>
            <!-- left section ends-->

            <!-- middle section -->
            <div layout=column layout-align="center end" flex>
               <span>
                  <!-- <i class="material-icons euro">euro_symbol</i> -->
                  {{ product.subTotal | number }} {{ vm.session.currency }}
               </span>
               <div class=italicLabel ng-if="product.billingPeriod == vm.BILLING_PERIODS.WEEKLY">total per week</div>
               <div class=italicLabel ng-if="product.billingPeriod == vm.BILLING_PERIODS.MONTHLY">total per month</div>
               <div class=italicLabel ng-if="product.billingPeriod == vm.BILLING_PERIODS.QUATERLY">total per quater</div>
            </div>
            <!-- middle section ends -->

            <!-- right section -->
            <div flex=20 layout=row layout-align="end center">
               <!-- drop down , options menu start -->
               <md-menu class=playslipHeaderSideMenu md-position-mode="target-right target" md-offset="-15 40 ">
                  <!-- Trigger button -->
                  <md-button ng-click=$mdOpenMenu($event) class=md-icon-button aria-label="Open sample menu">
                     <i class="material-icons more">more_vert</i>
                  </md-button>
                  <!-- Menu items -->
                  <md-menu-content width=4>
                     <div class=menuItemsHeader>
                        <h4>Checkout</h4>
                     </div>
                     <md-divider></md-divider>
<!--                      <md-menu-item>
                        <md-button class="menuItemsBtns" ng-click="doSomething()">
                           <i class="material-icons add">add_circle</i>
                           Add more lines
                        </md-button>
                     </md-menu-item> -->
                     <md-menu-item>
                        <md-button class=menuItemsBtns ng-click=vm.removeItem($index)>
                           <i class=material-icons>delete</i>
                           Remove this tickets
                        </md-button>
                     </md-menu-item>
                  </md-menu-content>
                  <!-- Menu items ends -->
               </md-menu>
               <!-- drop down , options menu ends -->
            </div>
            <!-- right section ends -->
         </div>
      </div>
      <!-- Lottery Tickets Row ends -->
   </div>
   <!-- Lottery Tickets Wrap end -->

</article>
