/*
|--------------------------------------------------------------------------
| Button styles
|--------------------------------------------------------------------------
*/

$button-primary-background      : $primary-color;

$button-secondary-background    : $primary-color;

%md-button-fill {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding-left: em-calc(15);
    padding-right: em-calc(15);
    border-radius: 0;
    .md-ripple-container {
        border-radius: inherit;
    }
}

.md-button.fill {
    @extend %md-button-fill;
}

.md-button {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: inherit;
    margin: 0;

    .md-ripple-container {
        border-radius: inherit;
    }

    img {
        display: block;
        width: auto;
        height: 100%;
    }
    //&:hover, &.md-focused, &.md-raised {
    //    // background-color: darken($secondary-color, 5%) !important;
    //    background-color: $secondary-color !important;
    //
    //}

    // Different colours from the palette
    @if variable-exists('component-palette') {
        @each $key, $color in $component-palette {
            &.#{$key}:not([disabled]) {
                background-color: $secondary-color;
                color: $white;
                &:hover, &.md-focused, &.md-raised {
                   // background-color: darken($secondary-color, 5%) !important;
                    background-color: $secondary-color !important;

                }
            }
            &.#{$key}[disabled] {
                background-color: $secondary-color;
                opacity: 0.8;
                color: $white;
            }
        }

        &.large {
            font-size: rem-calc(24);
            padding: rem-calc(8 40);
        }
    }
}

.md-button.md-primary.md-raised {
    background-color: $secondary-color !important;
    &:not([disabled]):hover {
       // background-color: darken($secondary-color, 5%) !important;
        background-color: $secondary-color !important;

    }

}

.md-button.md-accent.md-raised {
    background-color: $button-secondary-background;
    &:not([disabled]):hover {
        background-color: darken($secondary-color, 5%) !important;
    }
}