/*
|--------------------------------------------------------------------------
| Heading tag styles
|--------------------------------------------------------------------------
*/

$heading-alt: (
	'color': $image-heading,
	'font-family': false,
	'text-transform': false,
	'text-shadow': false,
	'transform': false
) !default;

h1, h2, h3, h4, h5, h6 {
	&.yellow, &.alt {
		@if map-get($heading-alt, 'color') {
			color: map-get($heading-alt, 'color');
		}
		@if map-get($heading-alt, 'font-family') {
			font-family: map-get($heading-alt, 'font-family');
		}
		@if map-get($heading-alt, 'text-transform') {
			text-transform: map-get($heading-alt, 'text-transform');
		}
		@if map-get($heading-alt, 'text-shadow') {
			text-shadow: map-get($heading-alt, 'text-shadow');
		}
		@if map-get($heading-alt, 'transform') {
			transform: map-get($heading-alt, 'transform');
		}
	}
	&.shadow {
		text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.55);;
	}
	&.primary {
		color: $secondary-color;
	}
	&.gray {
		color: $dark-gray;
	}
}