/*
|--------------------------------------------------------------------------
| Home Page
|--------------------------------------------------------------------------
*/


main.home-page {

    // Promo slider
    .promo-slider {

        // Slider wrapper
        .slick-slider {
            padding:0;
        }

        // Each slide
        .slick-slide {
            @include aspect-ratio(1600, 700);
            background-size: cover;
            background-repeat: none;
            background-position: center;
            min-height: 450px;
        }

        // Dots
        .slick-dots {
            padding: rem-calc(20);
        }

        // Slide content wrapper
        .content-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            //padding-top: 50px;
            //padding-right: 50px;
            //padding-bottom: 50px;
            //padding-left: 50px;
            //border: 1px solid red;
            @include aspect-ratio-content(top left);
        }

        // Slide content
        .content {
            @include grid-container($gutter-sides: top right bottom left);
            // /@include aspect-ratio-content(top left);
            //border: 1px solid black;

            h1, h2, h3, h4, h5, h6 {
                line-height: 1;
            }

            // h3.yellow {
            //     font-size: rem-calc();
            // }

            // Next draw
            .next-draw {
                margin: 2.5rem 0;
            }
        }
    }

    // Lotteries slider
    .lotteries-slider, .latest-results {
        min-height: 400px;

        // @TODO: Refactor
        .mobile-heading {
            @include breakpoint(large up) {
                display: none;
            }
        }
        .desktop-heading {
            display: none;
            @include breakpoint(large up) {
                display: block;
            }
        }

        .container {
            padding-top: rem-calc(50);
            padding-bottom: rem-calc(50);
            @include grid-container() ; //$max-width: false);

            .more {
                text-align: right;
                > .md-button {
                    margin-left: auto;
                    display: inline-block;
                    margin-right: 14px;
                    background-color: $secondary-color;
                }
            }
        }

        .content-carousel {
            margin-bottom: rem-calc(50);

            .slick-slider {
                padding: 0;
            }

            .slick-slide {
                min-height: 300px;
                @include grid-gutter;
            }
        }
    }

    // Learn more
    .learn-more {
        @include aspect-ratio(1600, 667);
        background-image: image-url('home/home.legs.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        min-height: 650px;

        // Content wrapper
        .content-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        // Content
        .content {
            @include grid-container($gutter-sides: top right bottom left);
            //max-width: none;
            //margin: 0;
            margin-top: 20px;
            > h1, h2, h3, h4, h5, h6 {
                line-height: 1;
            }
            @include breakpoint(small down) {
                h3 {
                    display: none;
                }
                h1 {
                    font-size: rem-calc(30px);
                    text-align: center;
                }
            }
            .more {
                text-align: right;
                .md-button {
                    display: inline-block;
                }
            }
        }

        // Info box
        .info-box {
            background-color: $white;
            padding: rem-calc(20);
            box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.26);
            border-radius: 4px;
            h4 {
                color: $primary-color;
            }
            .md-button {
                color: $primary-color;
                margin-left: auto;
                margin-right: 0;
                display: block;
            }
        }
    }

    // Results
    .latest-results {
        min-height: 200px;
    }
}

/*
|--------------------------
| Tablet Up
|--------------------------
*/
@include breakpoint(medium up) {

}


/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    main.home-page {

        // Learn more
        .learn-more {

            // Info box
            .info-box {
                h3 {
                    display: block;
                }
                max-width: 60%;
            }
        }
    }
}








