<main class="home-page">

   <!-- Promo slider -->
   <section class="promo-slider">
      <content-carousel settings="homePage.promoSlider">
         <div style="background-image: url('../assets/images/home/home.slide1.jpg');">
            <div class="content-wrapper">
               <div class="content">
                  <h3 class="yellow shadow">Join our lotto syndicates</h3>
                  <h1 class="shadow">49 chances to win <br />every week</h1>
                  <next-draw product="main.featuredSyndicate"></next-draw>
               </div>
            </div>
         </div>
         <div style="background-image: url('../assets/images/home/home.slide2.jpg');">
            <div class="content-wrapper">
               <div class="content">
                  <h3 class="yellow shadow">Best value ticket</h3>
                  <h1 class="shadow">Play {{ main.featuredLottery.name }} <br /> today and win</h1>
                  <next-draw product="main.featuredLottery"></next-draw>
               </div>
            </div>
         </div>
      </content-carousel>
   </section>

   <!-- Lotteries slider -->
   <section class="lotteries-slider">
      <arrow-bar direction="down" class="desktop-heading">
         <h5>We also have {{ homePage.lotteries.length }}  lotteries to play securely online</h5>
      </arrow-bar>
      <arrow-bar direction="down" class="mobile-heading">
         <h5>See more lotteries</h5>
      </arrow-bar>
      <div class="container">
         <content-carousel settings="homePage.lotteriesSlider" ng-if="homePage.lotteries.length > 0">
            <div ng-repeat="lottery in homePage.lotteries track by $index | limitTo: 5">
               <lottery-item data="lottery"></lottery-item>
            </div>
         </content-carousel>
         <div class="more">
            <md-button class="md-raised primary-dark" ui-sref="play">See all lotteries</md-button>
         </div>
      </div>
   </section>

   <!-- Learn more about syndicates -->
   <section class="learn-more">
      <div class="content-wrapper">
         <arrow-bar direction="down" scroll-to="top">
            <h5>Learn more about syndicates</h5>
         </arrow-bar>
         <div class="content">
            <h3 class="shadow yellow">Everyday is a lotto day</h3>
            <h1 class="shadow">49 Chances every week for €5</h1>
            <div class="info-box">
               <h4>A lotto to play, every single day</h4>
               <p>You can play a different lottery online every single day with 7Lottos.</p>
               <p>All the major worldwide lotteries available can be played by purchasing either an individual ticket or by playing one of our online syndicates, known as Group Play.</p>
               <p>Regardless of how you choose to play, you can be sure that every winning ticket will be paid out - guaranteed - by one of the world's largest insurers.</p>
               <div class="more">
                  <md-button class="md-primary" ui-sref="how">Learn more about how to play lottery</md-button>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- Latest results -->
   <section class="latest-results">
      <arrow-bar direction="down">
         <h5>Get the latest international lotto results</h5>
      </arrow-bar>
      <div class="container">
         <content-carousel settings="homePage.resultsSlider" ng-if="homePage.lotteryResults.length > 0">
            <div ng-repeat="result in homePage.lotteryResults track by $index | limitTo: 4">
               <lottery-result-item data="result"></lottery-result-item>
            </div>
         </content-carousel>
         <div class="more">
            <md-button class="md-raised primary-dark" ui-sref="results">See all results</md-button>
         </div>
      </div>
   </section>

</main>
