/*
|--------------------------------------------------------------------------
| Account Modal Styles
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.syndicate-modal {

    // Main content wrapper
    .ngdialog-content {

    }

    // Content area
    .dialog-content {

    }

    // Some component
    .syndicate-logo {
        
    }
}


@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.syndicate-modal {

        // Main content wrapper
        .ngdialog-content {
            //max-width: 400px;
        }

        // Content area
        .dialog-content {

        }
    }
}