/*
|--------------------------------------------------------------------------
| Arrow Bar Styles
|--------------------------------------------------------------------------
*/

// Arrow bar
$arrow-bar-background   : $primary-color;

$arrow-bar-transition   : all .2s ease-in !default;

$arrow-bar-color         : #fff !default

// Drop shadow
$arrow-bar-shadow: (
    'size'      : 3px,
    'color'     : rgba(0, 0, 0, 0.4)
) !default;

// Arrow responsive settings
$arrow-bar-arrow: (
    'xsmall': (
        'thickness' : 3px,
        'color'     : $arrow-bar-color,
        'size'      : 20px,
        'spacing'   : 4px
    ),
    'medium': (
        'thickness' : 3px,
        'color'     : $arrow-bar-color,
        'size'      : 50px,
        'spacing'   : 7px
    )
) !default;


arrow-bar,
[arrow-bar],
.arrow-bar {
    //@include grid-container-gutter();
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
    display: block;
    background-color: $arrow-bar-background;
    color: $arrow-bar-color;
    position: relative;
    transition: $arrow-bar-transition;
    text-align: center;
    @if $arrow-bar-shadow {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2),
                    0px map-get($arrow-bar-shadow, size) map-get($arrow-bar-shadow, size) 0 map-get($arrow-bar-shadow, color);
    }
    
    // Content styles for easier bar styling
    > * {
        @include grid-container;
        position: relative;
        z-index: 2;
        color: inherit;
        transition: $arrow-bar-transition;
        margin-bottom: 0;
        //line-height: inherit;
    }

    // General arrow styles
    span.arrow-bar-arrow {
        display: none;
        content: '';
        position: absolute;
        left: 50%;
        transform: rotate(-45deg);
        background-color: inherit;
        z-index: 0;
        transition: $arrow-bar-transition;
        &.action {
            cursor: pointer;
        }
        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
        }
    }

    // Up arrow styles
    &[direction='up'] span.arrow-bar-arrow {
        display: block;
    }

    // Down arrow styles
    &[direction='down'] span.arrow-bar-arrow {
        display: block;
        @if $arrow-bar-shadow {
            box-shadow: -#{map-get($arrow-bar-shadow, size)} map-get($arrow-bar-shadow, size) map-get($arrow-bar-shadow, size) 0 map-get($arrow-bar-shadow, color);
        }
        
    }

    // Different colours from the palette
    @if variable-exists('component-palette') {
        @each $key, $color in $component-palette {
            &.#{$key} {
                background-color: $color;
            }
        }
    }
}


// Responsive settings
arrow-bar,
[arrow-bar],
.arrow-bar {
    @each $breakpoint, $settings in $arrow-bar-arrow {
        @include breakpoint($breakpoint) {

            // Bar settings
            //min-height: map-get($settings, size);
            //line-height: map-get($settings, size);

            // General arrow styles
            span.arrow-bar-arrow {
                margin-left: -#{map-get($settings, size) / 2}; 
                height: map-get($settings, size);
                width: map-get($settings, size);
                padding: map-get($settings, spacing);
            }

            // Up arrow styles
            &[direction='up'] span.arrow-bar-arrow {
                top: -#{map-get($settings, size) / 2};
                &:after {
                    border-top: map-get($settings, thickness) solid map-get($settings, color);
                    border-right: map-get($settings, thickness) solid map-get($settings, color);
                }
            }

            // Down arrow styles
            &[direction='down'] span.arrow-bar-arrow {
                bottom: -#{map-get($settings, size) / 2};
                &:after {
                    border-bottom: map-get($settings, thickness) solid map-get($settings, color);
                    border-left: map-get($settings, thickness) solid map-get($settings, color);
                }
            }
        }
    }
}

