<main class=results-page>
   <section class=page-banner></section>

   <section class=subtitle>
      <h2>Results</h2>
   </section>

   <section class=content-with-sidebar>
      <div class=row>
         <article>
            <!-- List of lottery results -->
            <div class=lottery-results>
               <lottery-draw-prize-breakdown ng-if=prizeCtrl.lotteryDrawHistory history=prizeCtrl.lotteryDrawHistory index=prizeCtrl.lotteryDrawIndex></lottery-draw-prize-breakdown>
            </div>
         </article>

         <!-- playslip -->
         <aside>
            <playslip></playslip>
         </aside>
      </div>
   </section>
</main>
