/*
|--------------------------------------------------------------------------
| Results Page
|--------------------------------------------------------------------------
*/
$results-mediumblue: #5FA8F1;
$results-orange: $primary-color;
$reults-gray: #AAAAAA;
$results-darkblue : #4172BE;

.margin-left {
	margin-left: 20px;
}

.successBtn {
	padding: 2px 10px;
	background: red;
	background: $results-orange;
	color: white;

	&:hover {
		background: $results-orange !important;
	}
}

.logoImg {
	width: 50px;
	height: auto;

	img {
		width: 100%;
		height: auto;
	}
}

.lotteryDetailedInfo {
	border-bottom: 2px solid $reults-gray;
	margin-bottom: 10px;
	padding: 12px;
	div.wrap{
		width: 100%;
	}
}

.result-item {
	border-radius: 5px;
	.header {
		padding: 12px;
		min-height: 190px;
		background-image: url("../assets/images/flags/sweden.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		.playButton{
			width: 100%;
			margin-top: 15px;
		}
		.lottoShortInfo {
			width: 100%;
			h2 {
				line-height: 0.7;
				color: white;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
				font-size: 3rem;
				margin-bottom: 0;
			}
			div{
				font-size: 0.875rem;
				color: white;
			}
		}
		.name {
			width: 100%;
			margin-bottom: 1.5rem;
			h5 {
				margin-bottom: 0;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
			}

			img {
				margin-right: 0.625rem;
			}
		}
	}
	.actionButtons {
		padding: 12px;
		.successBtn{
			width: 100%;
			margin-bottom: 5px;
			background: $primary-color;
			&:hover{
				background: $primary-color !important;
			}
		}
	}
}

.lotteryDraws {
	font-size: 12px;
	color: red;
	color: #4A4A4A;
	span {
		text-transform: capitalize;
	}
}

.numBall {
	width: 25px;
	height: 25px;
	margin-right: 2px;
	background: $secondary-color;
	border-radius: 15px;
	color: white;
	padding: 15px;
}

.lotteryResults {
	padding: 5px 0px 2px 0px;
	.secondaryNum {
		background: $results-orange;
	}
}
/*
|--------------------------
| Mobile Up
|--------------------------
*/
main.results-page {
	// Lottery results wrapper
	.lottery-results {
		@include grid-row;
		margin-bottom: 1rem;
		//border: 1px dashed black;
	}
	// Result column wrapper
	.result-column {
		@include grid-column(1 of 1);
		@include grid-gutter($sides: bottom);
		//border: 1px solid green;
	}
	// Result item
	.result-item {
		//border: 1px solid red;
		margin-bottom: rem-calc(10);
	}
}
/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
	main.results-page {
		// Lottery results wrapper
		.lottery-results {}
		// Result column wrapper
		.result-column {
			@include grid-col-size(1 of 2);
		}
		// Result item
		.result-item {}
	}
}
