/*
|--------------------------------------------------------------------------
| Register Modal
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.register-modal {
    
    // Text inputs
    md-input-container {
        display: block;
        width: 100%;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    // Register actions
    .register-actions {
        .md-button {
            width: 100%;
            font-size: rem-calc(22);
            padding-left: rem-calc(5);
            padding-right: rem-calc(5);
        }
    }

    // Processing
    md-progress-circular {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }
}

@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.register-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 500px;
        }
    }
}