<header class=dialog-header>
  <h1>Login</h1>
</header>
<section class=dialog-content>
   <!-- Feedback messages -->
   <feedback-message class=error ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>
   <feedback-message class=success ng-if="vm.feedback.success && !vm.feedback.processing">
      Password reset. Please check your emails.
   </feedback-message>

   <!-- Processing -->
   <md-progress-circular ng-show=vm.feedback.processing md-diameter=120 md-mode=indeterminate></md-progress-circular>   

   <!-- Input / Actions -->
   <form name=loginForm ng-hide="vm.feedback.processing || vm.reset.visible" ng-submit=vm.login() novalidate>
      <!-- Username -->
      <md-input-container md-no-float>
         <label>Username</label>
         <input type=email ng-model=vm.login.username name=username required>
         <div ng-messages=loginForm.username.$error>
            <div ng-message=required>Please enter a valid username</div>
         </div>
      </md-input-container>

      <!-- Password -->
      <md-input-container>
         <label>Password</label>
         <input type=password ng-model=vm.login.password name=password required>
         <div ng-messages=loginForm.password.$error>
            <div ng-message=required>Please enter a valid password</div>
         </div>
      </md-input-container>

      <!-- Login button -->
      <div class=login-actions>
         <md-button ng-click=vm.forgotPassword(true)>Forgot Password?</md-button>
         <md-button class="md-raiased secondary" type=submit>Login</md-button>
      </div>
   </form>

   <!-- Forgot password form -->
   <form name=forgotPassword ng-submit=vm.resetPassword() ng-show="vm.reset.visible && !vm.feedback.processing" novalidate>
      <!-- Email -->
      <md-input-container md-no-float>
         <label>Email Address</label>
         <input type=text ng-model=vm.reset.email name=email required>
         <div ng-messages=forgotPassword.email.$error>
            <div ng-message=required>Please enter a valid email address</div>
         </div>
      </md-input-container>

      <!-- Login button -->
      <div class=login-actions>
         <md-button ng-click=vm.forgotPassword(false)>Back</md-button>
         <md-button class="md-raiased secondary" ng-click=vm.resetPassword() type=submit>Reset Password</md-button>
      </div>
   </form>
</section>