/*
|--------------------------------------------------------------------------
| Deposit Modal
|--------------------------------------------------------------------------
*/

.ngdialog.ngdialog-theme-7lotto.deposit-modal {

    // Text inputs
    md-input-container {
        display: block;
        width: 100%;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    // actions
    .actions {
        display: flex;
        justify-content: space-between;
    }


    // Processing
    md-progress-circular {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    // amount field
    // .amounts {
    //     @include grid-row();
    //     .amount {
    //         @include grid-column(1 of 4);
    //     }
    // }
    
    // .expiry {
    //     @include grid-row();   
    //     md-input-container {
    //         @include grid-column(1 of 4);
    //     }
    // }
}


@include breakpoint(large up) {
    .ngdialog.ngdialog-theme-7lotto.deposit-modal {

        // Main content wrapper
        .ngdialog-content {
            max-width: 500px;
        }
    }
}