<header class="dialog-header">
	<h1>Deposit</h1>
</header>
<section class="dialog-content">
	<!-- Processing -->
	<md-progress-circular ng-show="vm.processing" md-diameter="120"></md-progress-circular>

	<!-- Feedback to user on error -->
   <feedback-message class="error" ng-if="vm.feedback.error && !vm.feedback.processing">
      {{ vm.feedback.message }}
   </feedback-message>

    <!-- Input / Actions -->
    <form name="depositForm" ng-hide="vm.processing" ng-submit="vm.deposit()" novalidate>
        <p>Please enter your card information below</p>

        <div class="amounts">
           <!-- Amount -->
           <md-input-container class="amount" md-no-float>
              <label>Amount</label>
              <input type="text" ng-model="vm.fields.amount" name="amount" required>
              <div ng-messages="depositForm.amount.$error">
                 <div ng-message="required">Please enter a valid amount</div>
              </div>
           </md-input-container>
        </div>

        <!-- Name on Card -->
        <md-input-container md-no-float>
           <label>Name on Card</label>
           <input type="text" ng-model="vm.fields.card_name" name="card_name" placeholder="" required>
           <div ng-messages="depositForm.card_name.$error">
              <div ng-message="required">Please enter a valid name on card</div>
           </div>
        </md-input-container>

        <!-- Card Number -->
        <md-input-container md-no-float>
           <label>Card Number</label>
           <input type="text" ng-model="vm.fields.card_number" name="card_number" maxlength="16" pattern="[0-9]{13,16}" placeholder="•••• •••• •••• ••••" required>
           <div ng-messages="depositForm.card_number.$error">
              <div ng-message="required">Please enter a valid card number</div>
           </div>
        </md-input-container>

        <div class="expiry">
           <!-- Expiry Month -->
           <md-input-container md-no-float>
              <label>Expiry Month</label>
              <input type="text" ng-model="vm.fields.exp_month" name="exp_month" maxlength="2" pattern="[0-9]{2,2}" placeholder="MM" required>
              <div ng-messages="depositForm.exp_month.$error">
                 <div ng-message="required">Please enter a valid expiry month</div>
              </div>
           </md-input-container>

           <!-- Expiry Year -->
           <md-input-container md-no-float>
              <label>Expiry Year</label>
              <input type="text" ng-model="vm.fields.exp_year" name="exp_year" maxlength="4"  pattern="[0-9]{4,4}" placeholder="YYYY" required>
              <div ng-messages="depositForm.exp_year.$error">
                 <div ng-message="required">Please enter a valid expiry year</div>
              </div>
           </md-input-container>
        </div>

        <!-- CVV -->
        <md-input-container md-no-float>
           <label>CVV</label>
           <input type="text" ng-model="vm.fields.cvv" maxlength="3"  pattern="[0-9]{3,3}" name="cvv" required>
           <div ng-messages="depositForm.cvv.$error">
              <div ng-message="required">Please enter a valid CVV</div>
           </div>
        </md-input-container>

        <hr />

        <!-- Action button -->
        <div class="actions">
            <!-- Cancel button -->
            <md-button class="md-raiased" ng-click="closeThisDialog()">Cancel</md-button>

            <!-- Save button -->
            <md-button class="md-raiased secondary" ng-click="vm.deposit()">Deposit</md-button>
        </div>
    </form>
</section>