<header class=dialog-header>
	<h1>Purchase History</h1>
</header>
<section class=dialog-content>
	<!-- Processing -->
	<md-progress-circular ng-show=vm.processing md-diameter=120></md-progress-circular>

	<div ng-show=!vm.processing>
		<!-- Display the purchase history table -->
		<table cellspacing=0 cellpadding=0 class=table ng-show="vm.purchases.length > 0">
			<tr>
				<th>Date</th>
				<th>Playslip ID</th>
				<th>Transaction ID</th>
			</tr>
			<tbody>
				<tr ng-repeat="purchase in vm.purchases">
					<td ng-bind="purchase.dateOfPurchase | date:'dd MMM yyyy'"></td>
					<td ng-bind=purchase.playSlipId></td>
					<td ng-bind=purchase.walletTransactionId></td>
				</tr>
			</tbody>
		</table>

		<p ng-show="vm.purchases.length == 0">You have no purchases</p>
	</div>

</section>