<article class="syndicate-item">
   <!-- Lottery Header -->
   <header>
      <div class="name">
         <img ng-src="assets/images/lotteries/{{ vm.data.drawTypeId }}.png" alt="{{ vm.data.name }}" />
         <h5>{{ vm.data.name }}</h5>
      </div>
      <div class="jackpot">
         <h2>{{ vm.data.jackpot.currency }} {{ vm.data.jackpot.value | jackpot }}</h2>
         <span calass="jackpot-type">Cumulative Jackpot</span>
      </div>
   </header>
   
   <!-- Lottery main information section -->
   <section class="info">
      <h5>{{ vm.data.tickets.total }} Chances to win</h5>
      <small>{{ vm.data.tickets.price }} {{ vm.data.tickets.currency }} per week</small>

      <div class="next-draw">
         <h6><md-icon>&#xE192;</md-icon> Next draw</h6>
         <count-down-circle end-date="{{ vm.data.drawDate }}"></count-down-circle>
      </div>
   </section>
   
   <!-- Lottery footer -->
   <footer>
      <md-button><md-icon>&#xE88F;</md-icon> Learn More</md-button>
      <md-button class="md-accent md-raised" ng-click="vm.play()">Play Now!</md-button>
   </footer>


<!-- <article class="lottery-item">
   <header>
      <div class="name">
         <img ng-src="assets/images/lotteries/{{ vm.data.drawTypeId }}.png" alt="{{ vm.data.name }}" />
         <h5>{{ vm.data.name }}</h5>
      </div>
      <div class="jackpot">
         <h2>{{ vm.data.jackpot.local.currency }} {{ vm.data.jackpot.local.value | jackpot }}</h2>
         <span calass="jackpot-type">Cumulative Jackpot</span>
      </div>
   </header>

   <section class="info">
      <h5>49 Changes to win</h5>
      <small>€00.00 per week</small>

      <div class="next-draw">
         <h6><md-icon>&#xE192;</md-icon> Next draw</h6>
         <count-down-circle end-date="{{ vm.data.drawDates.next }}"></count-down-circle>
      </div>
   </section>

   <footer>
      <md-button><md-icon>&#xE88F;</md-icon> Learn More</md-button>
      <md-button class="md-accent md-raised" ng-click="vm.play()">Play Now!</md-button>
   </footer>
</article> -->


</article>