/*
|--------------------------------------------------------------------------
| 7 Lotto Website Settings & Variables
|--------------------------------------------------------------------------
*/

$syndicate-item-widget: (
    'padding': 12px,
    'background-color': #ffffff,
    'shadow': 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    'border-radius': 5px,
    'border': none,

    // Heading area
    'header': (
        'color': #ffffff,
        'text-shadow': 2px 2px 2px rgba(0, 0, 0, 0.55),
        'logo-size': 60px
    ),

    // Content title
    'title-color': $secondary-color
) !default;


// Calculates with / height and margin for the number circles
@mixin number-per-row($number: 7, $margin: 2px) {
    margin: $margin;
    width: calc(100% / #{$number - #{$margin * 2}});
    padding: calc(100% / #{$number - #{$margin * 2}}) 0 0 0;
}


.syndicate-item {
    background-color: map-deep-get($lottery-item-widget, 'background-color');
    @if(map-deep-get($syndicate-item-widget, 'shadow')) {
        box-shadow: map-deep-get($syndicate-item-widget, 'shadow');
    }
    border: map-deep-get($syndicate-item-widget, 'border');
    border-radius: map-deep-get($syndicate-item-widget, 'border-radius');
    margin-bottom: 5px;

    // Every section
    header, section, footer {
        padding: map-deep-get($syndicate-item-widget, 'padding');
    }

    // Headings
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }

    header {
        background-color: if(variable-exists('light-gray'), $light-gray, #cacaca);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-position: center center;
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                width: rem-calc(map-deep-get($syndicate-item-widget, 'header', 'logo-size'));
                height: rem-calc(map-deep-get($syndicate-item-widget, 'header', 'logo-size'));
                margin-right: rem-calc(10);
                align-self: flex-start;
            }
            h5 {
                @if map-deep-get($syndicate-item-widget, 'header', 'text-shadow') {
                    text-shadow: map-deep-get($syndicate-item-widget, 'header', 'text-shadow');
                }
                line-height: 1;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .jackpot {
            width: 100%;
            text-align: right;
            color: map-deep-get($syndicate-item-widget, 'header', 'color');
            h2 {
                line-height: 0.7;
                color: inherit;
                @if map-deep-get($syndicate-item-widget, 'header', 'text-shadow') {
                    text-shadow: map-deep-get($syndicate-item-widget, 'header', 'text-shadow');
                }
            }
            small {
                color: inherit;
                font-size: rem-calc(16);
                margin-left: -7px;
            }
            span {
                display: block;
                font-weight: bold;
                font-size: rem-calc(16);
                @if map-deep-get($syndicate-item-widget, 'header', 'text-shadow') {
                    text-shadow: map-deep-get($syndicate-item-widget, 'header', 'text-shadow');
                }
            }
        }
    }

    section {
        padding-bottom: 0;
        margin-bottom: 0;
        > h5 {
            color: $secondary-color;
            line-height: 1;
            + small {
                display: block;
            }
        }
        .next-draw {
            h6 {
                font-size: rem-calc(16);
                color: if(variable-exists('body-color'), $body-color, rgba(74, 74, 74));
                md-icon {
                    color: if(variable-exists('dark-gray'), $dark-gray, rgb(155, 155, 155));
                }
            }
            margin-top: rem-calc(10);
            padding: rem-calc(10 0);
            border-top: 1px solid if(variable-exists('dark-gray'), $dark-gray, rgb(155, 155, 155));
            border-bottom: 1px solid if(variable-exists('dark-gray'), $dark-gray, rgb(155, 155, 155));
            width: 100%;
        }
        .count-down-circle,
        count-down-circle,
        [count-down-circle] {
            max-width: 130px;
            min-height: 130px;
        }
    }

    footer {
        @include clearfix;
        .md-button {
            margin: 0;
            &:first-child {
                color: if(variable-exists('dark-gray'), $dark-gray, rgb(155, 155, 155));
            }
            &:last-child {
                float: right;
            }
        }
    }
}