/*
|--------------------------------------------------------------------------
| Playslip Styles
|--------------------------------------------------------------------------
*/

$playslip-header-background: $secondary-color;

$playslip-orange: map-deep-get($seven-palette, 'orange', 'base') !default;
$playslip-gray: #AAAAAA;
$playslip-light-blue : #5FA8F1 !default;
$playslip-border-radius: $global-border-radius;

/*
|--------------------------
| Mobile Up
|--------------------------
*/

article.playslip {
    //max-width: 500px;
    margin-bottom: 3rem;
    border-radius: $playslip-border-radius;
    //border: 1px dashed red;
}

.menuItemsBtns{
  i.add{
    color: $playslip-orange;
  }
  i{
    top: 5px;
  }
  span{
    text-transform: uppercase;
    font-weight: 900;
  }
  &:hover{
    background: none !important;
  }
}

md-toolbar.header{
  background: $playslip-header-background;
  border-top-right-radius: $playslip-border-radius;
  border-top-left-radius: $playslip-border-radius;
  .md-toolbar-tools {
    h2{
      //font-size: 1.8vw;
      font-weight: bold;
    }

  }
}
.menuItemsHeader > h4 {
  padding: 0 16px;
  text-align: left;
  color: black;
  color: $dark-gray;
  font-size: rem-calc(20);
  margin: rem-calc(0 0 10 0);
}
.totalSumRow {
  padding: 15px;
  .md-button.secondary:not([disabled]){
    background-color: $primary-color;
  }

  div:nth-child(1){
    color: $playslip-gray;
    span{
      font-size: 1.7em;
      word-spacing: .5vw;
    }
    i{
      margin-right: 10px;
    }
  }
  button{
    padding: 10px 30px !important;
    font-size: 1vw;
  }
}
.blueLabel{
  background: $primary-color;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 25px;
  padding: 1px 7px;
}
i.more{
  font-size: 28px;
  font-weight: 600;
  color: $primary-color;
}
.italicLabel{
  text-transform: capitalize;
  font-style: italic;
}
.ticketWrap{
  min-height: 500px;
  div{
    .lotteryLogo{
      padding: 10px;
      width: 80px;
      height: 80px;
      img{
        //width: 100%;
        //height: 100%;
        width: 60px;
        width: 60px;
      }
    }
    .lotteryDetails{
      padding: 20px 10px;
      border-bottom: 2px solid $playslip-gray;
      div{
        i.euro{
          font-size: 14px;
          top:1px;
        }
        span{
          font-size: 1.2em;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}

/*
|--------------------------
| Desktop Up
|--------------------------
*/
@include breakpoint(large up) {
    article.playslip {

    }
}
