<!-- draw prize breakdown starts -->
<section class=drawPrize>
  <!-- header -->
  <div layout-gt-md=row layout-gt-sm=column layout-gt-xs=column layout-xs=column layout-align="space-between center" class=drawHeader>
    <!-- logo and name -->
    <div layout=row layout-align="start center">
      <div class=logo>
        <img alt={{prizeCtrl.currentDraw.lotteryName}} ng-src=assets/images/lotteries/{{prizeCtrl.currentDraw.drawTypeId}}.png>
      </div>
      <div layout=column class=name>
        <h2>{{prizeCtrl.currentDraw.lotteryName}} {{prizeCtrl.currentDraw.drawDateTime | formatDate}}</h2>
        <div>Prize Breakdown</div>
      </div>
    </div>
    <!-- logo and name ends -->

    <!-- draw numbers and jackpot ammount -->
    <div layout=column layout-align="start center">
      <div layout=row>
        <div class="ball primary" layout=row layout-align="center center" ng-repeat="num in prizeCtrl.winningNumbers.primaryNumbers track by $index">
          {{num}}
        </div>
        <div class="ball secondary" layout=row layout-align="center center" ng-repeat="num in prizeCtrl.winningNumbers.secondaryNumbers track by $index">
          {{num}}
        </div>
      </div>
      <div class=jackpot ng-if="prizeCtrl.drawPrizes.prizes[0].amount !== 0">
        {{prizeCtrl.drawPrizes.prizes[0].currencyCode}} {{prizeCtrl.drawPrizes.prizes[0].amount | jackpot }}
      </div>
      <div class=jackpot ng-if="prizeCtrl.drawPrizes.prizes[0].amount === 0">
        Rollover
      </div>
    </div>
    <!-- draw numbers and jackpot ammount ends -->
  </div>
  <!-- header -->

  <!-- previous and next draw in the historu buttons -->
  <div layout-gt-md=row layout-gt-sm=column layout-gt-xs=column layout-xs=column layout-align-gt-md="space-between center" layout-align-gt-xs="center center" layout-align-xs="center center" class=prevNextLotteries>
    <md-button class=arrowBtn layout=row layout-align="start center" ng-click=prizeCtrl.getPrevDraw()>
      <i ng-show=prizeCtrl.previousDraw class=material-icons>keyboard_arrow_left</i>
      <span ng-show=prizeCtrl.previousDraw>{{prizeCtrl.previousDraw.drawDateTime | formatDate}}
        <span ng-if="$mdMedia('gt-md')">{{prizeCtrl.previousDraw.lotteryName}} </span>
        Results</span>
      <span ng-show=!prizeCtrl.previousDraw>All Gaught up!</span>
    </md-button>
    <md-button class=arrowBtn layout=row layout-align="start center" ng-click=prizeCtrl.getNextDraw()>
      <span ng-show=prizeCtrl.nextDraw>{{prizeCtrl.nextDraw.drawDateTime | formatDate}}
        <span ng-if="$mdMedia('gt-md')">{{prizeCtrl.nextDraw.lotteryName}} </span>
        Results</span>
      <span ng-show=!prizeCtrl.nextDraw>All Gaught Up!</span>
      <i ng-show=prizeCtrl.nextDraw class=material-icons>keyboard_arrow_right</i>
    </md-button>
  </div>
  <!-- previous and next draw in the historu buttons ends -->

  <!-- draw prizes wrap -->
  <div layout=column class=drawPrizesWrap>
    <!-- lottery name -->
    <div layout=row layout-align="center center" class=head>
      <h2>{{prizeCtrl.currentDraw.lotteryName}} Prizes Breakdown</h2>
    </div>
    <!-- table with prize breakdown-->
    <md-table-container>
      <table md-table ng-model=selected>
        <thead md-head md-order=prizeCtrl.query.order>
          <tr md-row>
            <th md-column md-order-by=prizeNo><span>Prize Number</span></th>
            <th md-column md-order-by=primaryMatch><span>Primary Match</span></th>
            <th md-column md-order-by=secondaryMatch><span>Secondary Match</span></th>
            <th md-column md-order-by=currencyCode><span>Currency</span></th>
            <th md-column md-order-by=amount><span>Amount</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select-id=name md-auto-select ng-repeat="prize in prizeCtrl.drawPrizes.prizes | orderBy: prizeCtrl.query.order">
            <td md-cell>{{prize.prizeNo}}</td>
            <td md-cell>{{prize.primaryMatch}}</td>
            <td md-cell>{{prize.secondaryMatch}}</td>
            <td md-cell>{{prize.currencyCode}}</td>
            <td md-cell> {{prize.amount}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <!-- play now -->
    <div layout=column layout-align="center center">
      <p class=playText>
        <span class=chance>Dont miss your chance</span><br>
        <span class=play>Play the next {{prizeCtrl.currentDraw.lotteryName}}</span>
      </p>
      <md-button class=playBtn ng-click=prizeCtrl.play()>Play now</md-button>
    </div>
    <!-- prize breakdown, 2 column layout ends -->
  </div>
  <!-- draw prizes wrap ends -->

</section>
<!-- draw prize breakdown ends -->
