@font-face {
    font-family: 'Another Shabby';
    src: url('../assets/fonts/Anothershabby_trial.ttf');
    font-weight: normal;
}

// Combined settings for Inight-Sass and 7Lottos
@import "settings";
//@import "24-7settings";
//@import "crown-settings";

// Extra functions especially for 7Lottos
@import "functions";
@import "mixins";

// Global styles
@import "page-layout";
@import "elements/buttons";
@import "elements/icons";
@import "elements/headings";
//@import "elements/carousel";

// Insight web core HTLM styles
@include insight-global-html();
@include insight-typography-html();

.insight-mq-list {
    font-family: "xsmall=(min-width: 0)&xsmall up=(min-width: 0)&small=(min-width: 30em)&small up=(min-width: 30em)&medium=(min-width: 48em)&medium up=(min-width: 48em)&large=(min-width: 80em)&large up=(min-width: 80em)&xlarge=(min-width: 90em)&xlarge up=(min-width: 90em)&xsmall only=(max-width: 29.9375em)&small only=(min-width: 30em) and (max-width: 47.9375em)&medium only=(min-width: 48em) and (max-width: 79.9375em)&large only=(min-width: 80em) and (max-width: 89.9375em)&xlarge only=(min-width: 90em)&xsmall down=(max-width: 29.9375em)&small down=(max-width: 47.9375em)&medium down=(max-width: 79.9375em)&large down=(max-width: 89.9375em)&xlarge down=(min-width: 0)";
}
.insight-mq {
    font-family: "xsmall=0em&small=30em&medium=48em&large=80em&xlarge=90em";
}
