/*
|--------------------------------------------------------------------------
| 7 Lotto Website Settings & Variables
|--------------------------------------------------------------------------
| 
| This file incudes every variable set in the kit. Please copy this to
| your projects styles directory before editing.
|
| Make sure to include the settings file before you include the kit.
|
|
| Table of Contents:
| ===================
| 1. Global
| 2. Colours
| 3. Breakpoints
| 4. Grid
| 5. Base typography
| 6. Body styles
| 7. Header 
| 8. Footer
| 9. Buttons
|
| -------------------------------------------------------------------------
*/

$debug: false;

/*
|------------------------------------
| 1. Global
|------------------------------------
*/

$global-line-height         : 1.5;

$global-margin              : 1rem;

$global-font-size           : 100%;

$global-color-modifier      : 15%;  // Used for scaling colours

$global-page-gutter: (
    xsmall: rem-calc(15),
    medium: rem-calc(30),
    large: rem-calc(80)
);

$global-transition          : all .2s ease-in;

$global-drop-shadow         : 0 2px 5px 0 rgba(0, 0, 0, 0.26);

$global-text-shadow         : 2px 2px 2px rgba(0, 0, 0, 0.55);


// Website wrappper / Max site size
$global-page-wrapper        : false;

$global-site-max-width      : 1600px;

$global-page-wrapper-bg     : #fff;

$global-border-radius       : 3px;

/*
|------------------------------------
| 2. Colours
|------------------------------------
*/

$black                      : #000;

$white                      : #fff;

$light-gray                 : #F1F1F1;

$medium-gray                : #cacaca;

$dark-gray                  : #9B9B9B;

$text-color                 : #4A4A4A;

/**
 * Colour palette for 7Lottos website. The list below shows the HUE value from the 
 * angular palette and an example of what area of the site uses it.
 * 
 * Blue: Angular Material Light Blue palette
 *     light    300     e.g Tabs background
 *     base     500     e.g Components
 *     dark     A700    e.g Section headers i.e Learn More
 *     darkest  700     e.g Navigation background
 *
 * Orange: Angular Material Deep Orange palette
 *     base     500     e.g Buttons
 *     dark     A700    e.g Footer top
 *     darkest  900     e.g Footer bottom
 *
 * Green: Custom green
 *     base     -       e.g Green heading text
 */
$seven-palette: (
    'blue': (
        'light'     : #4FC3F7,
        'base'      : #03A9F4,
        'dark'      : #0091EA,
        'darkest'   : #0288D1
    ),

    'orange': (
        'base'      : #FF5722,
        'dark'      : #DD2C00,
        'darkest'   : #BF360C,
    ),

    'green': (
        'base'      : #C5D831
    )
);

$palette24: (
    'red': (
        'base': #f42534,
        'dark': #E60000
    ),
    'blue': (
        'base': cyan,
        'dark': blue
    ),
    'text': #444444,
    'cart': #96282d,
    'green': #bff14b
);

// Primary color
$primary-color: map-deep-get($palette24, 'red', 'dark');

// Secondary color
$secondary-color: map-deep-get($palette24, 'red', 'base');

// Component palette
$component-palette: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'tertiary': cyan,
    'primary-dark': $dark-gray //$primary-color
);

/*
|------------------------------------
| 3. Breakpoints
|------------------------------------
*/

$breakpoints: (
    xsmall  : 0,
    small   : 480px,
    medium  : 768px,
    large   : 1280px,
    xlarge  : 1440px
);


/*
|------------------------------------
| 4. Grid
|------------------------------------
*/

$grid: (
    driver      : flex,
    columns     : 12,
    containers  : (
        'xsmall' : (
            width: 100%,
            gutter: 15px
        ),
        'large': (
            width: if($global-page-wrapper, 100%, 1880px),
            gutter: 40px
        )
    ),
    column-gutters: (
        'xsmall'    : 15px,
        'medium'    : 15px,
        'large'     : 20px
    )
);

$grid-driver        : map-get($grid, 'driver');

$grid-columns       : map-get($grid, 'columns');

$grid-containers    : map-get($grid, 'containers');

$grid-gutters       : map-get($grid, 'column-gutters');

$grid-debug         : false;

$grid-debug-settings: (
    container: (
        'border': 1px dashed black
    ),
    row: (
        'border': 1px dashed cyan,
        'background': rgba(#E6F6FF, 0.2),
        'background-alt': rgba(0, 0, 0, 0.02)
    ),
    column: (
        'border': 1px dashed blue
    ),
    warn: false
);

/*
|------------------------------------
| 5. Base typography
|------------------------------------
*/

/**
 * Base font variables
 */
$font-size-base             : 14px;

$font-weight-normal         : 400;

$font-weight-bold           : 900;

$font-family-sans-serif     : "proxima-nova", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

$font-family-serif          : Georgia, Cambria, "Times New Roman", Times, serif;

$font-family-monospace      : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


/**
 * Headings
 */
$heading-font-family         : $font-family-sans-serif;

$heading-font-weight         : $font-weight-bold;

$heading-font-style          : normal;

$heading-color               : $white;

$heading-line-height         : $global-line-height;

$heading-text-transform      : uppercase;

$heading-margin-bottom       : 1rem;

$heading-small-size          : 50%;

$heading-small-color         : $dark-gray;

$heading-sizes: (
    xsmall: (
        'h1'    : 60,
        'h2'    : 48,
        'h3'    : 42,
        'h4'    : 28,
        'h5'    : 24,
        'h6'    : 16
    )
);


/**
 * Small font
 */
$small-font-size            : 80%;


/**
 * Paragraphs
 */
$paragraph-margin-bottom    : 1rem;

$paragraph-line-height      : inherit;

$paragraph-lead-font-size   : 125%;


/**
 * Anchor links
 */
$link-color                 : map-deep-get($seven-palette, 'blue', 'base');

$link-color-hover           : darken($link-color, $global-color-modifier);

$link-decoration            : none;

$link-decoration-hover      : underline;


/**
 * Blockquotes
 */
$blockquote-border          : 2px solid $light-gray;

$blockquote-padding         : 0.3125rem 1.25rem; // rem-calc(5 20);

$blockquote-color           : $black;

$blockquote-cite-font-size  : 0.75rem; //rem-calc(12);

$blockquote-cite-color      : $dark-gray;


/**
 * HR
 */
$hr-margin                  : 1rem 0 1rem 0;

$hr-border                  : 1px solid $dark-gray;


/**
 * List styles
 */
$list-margin-bottom         : $global-margin;

$list-style-position        : inside;

$list-nested-side-margin    : 1.25rem;


/*
|------------------------------------
| 6. Body styles
|------------------------------------
*/

$body-background            : darken(#fcfcfc, 5%); //$white;

$body-color                 : $text-color;

$body-font-family           : $font-family-sans-serif;

$body-font-weight           : $font-weight-normal;

$body-antialiased           : true;


/*
|------------------------------------
| 7. Header styles
|------------------------------------
*/

$header-background      : map-deep-get($seven-palette, 'blue', 'darkest'); //#0288D1 !default;

$header-height-mobile   : 50px;

$header-height-desktop  : 80px;


/*
|------------------------------------
| 8. Footer styles
|------------------------------------
*/

$footer-background-primary      : map-deep-get($seven-palette, 'orange', 'dark');

$footer-background-secondary    : map-deep-get($seven-palette, 'orange', 'darkest');

$footer-color                   : $white;

$footer-payments-color          : rgba($white, 0.7);

$footer-padding                 : 30px;

$footer-padding-primary         : 50px;

$footer-padding-secondary       : 20px;


/*
|------------------------------------
| 8. Button styles
|------------------------------------
*/

$button-primary-background      : $primary-color; //map-deep-get($seven-palette, 'blue', 'base');

$button-secondary-background    : $primary-color; //map-deep-get($seven-palette, 'orange', 'base');


/*
|------------------------------------
| 9. Arrow Bar styles
|------------------------------------
*/
$arrow-bar-background   : #fff;
$arrow-bar-color        : $primary-color;

/*
|------------------------------------
| 9. Playslip
|------------------------------------
*/

$playslip-header-background     : $primary-color;
$playslip-orange                : $primary-color;
$playslip-gray: #AAAAAA;
$playslip-light-blue : #5FA8F1;


/*
|------------------------------------
| 10. Shared widget styles (result,
|     synidcate and single line)
|------------------------------------
*/
$product-widget: (
    'padding': 12px,
    'background-color': $white,
    'shadow': 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    'border-radius': 5px,
    'border': none,

    // Heading area
    'header': (
        'color': $white,
        'text-shadow': 2px 2px 2px rgba(0, 0, 0, 0.55),
        'logo-size': 60px
    ),

    // Content title
    'title-color': $primary-color
);

/*
|------------------------------------
| 10. Single Line Product
|------------------------------------
*/
$lottery-item-widget: (
    'padding': map-deep-get($product-widget, 'padding'),
    'background-color': map-deep-get($product-widget, 'background-color'),
    'shadow': map-deep-get($product-widget, 'shadow'),
    'border-radius': map-deep-get($product-widget, 'border-radius'),
    'border': map-deep-get($product-widget, 'border'),

    // Heading area
    'header': (
        'color': map-deep-get($product-widget, 'header', 'color'),
        'text-shadow': map-deep-get($product-widget, 'header', 'text-shadow'),
        'logo-size': map-deep-get($product-widget, 'header', 'logo-size')
    ),

    // Content title
    'title-color': map-deep-get($product-widget, 'title-color')
);

/*
|------------------------------------
| 11. Syndicate Product
|------------------------------------
*/
$syndicate-item-widget: $lottery-item-widget;

/*
|------------------------------------
| 12. Lottery Results Widget
|------------------------------------
*/
$lottery-results-widget: (
    'padding': map-deep-get($product-widget, 'padding'),
    'background-color': map-deep-get($product-widget, 'background-color'),
    'shadow': map-deep-get($product-widget, 'shadow'),
    'border-radius': map-deep-get($product-widget, 'border-radius'),
    'border': map-deep-get($product-widget, 'border'),

    // Heading area
    'header': (
        'color': map-deep-get($product-widget, 'header', 'color'),
        'text-shadow': map-deep-get($product-widget, 'header', 'text-shadow'),
        'logo-size': map-deep-get($product-widget, 'header', 'logo-size')
    ),

    // Content title
    'title-color': map-deep-get($product-widget, 'title-color'),

    // Numbers per row
    'numbers-per-row': 10,

    // Primary numbers
    'primary-numbers': (
        'color' : #ffffff,
        'background': #01B0ED
    ), 

    // Secondary numbers
    'secondary-numbers': (
        'color': #ffffff,
        'background': #005370
    )
);

/*
|------------------------------------
| 13. Content carousel
|------------------------------------
*/
$content-carousel: (
    'arrow': (
        'size': 40px,
        'background': $primary-color,
        'color': #fff,
        'shadow': 0px 0px 4px 1px rgba(0,0,0,0.25)
    ),
    'dots': (
        'size': 20px,
        'color': #9B9B9B,
        'active': $primary-color,
        'spacing': 10px,
        'shadow': 2px 2px 4px 1px rgba(0,0,0,0.45)
    )
);

/*
|------------------------------------
| Cart button
|------------------------------------
*/
$cart-button: (
    'size': 55px,
    'color': map-deep-get($palette24, 'cart'),
    'background': #fff,
    'shadow': (0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12))
);

/*
|------------------------------------
| Page header
|------------------------------------
*/
$header: (
    'background': #ffffff, // map-deep-get($seven-palette, 'blue', 'darkest'),
    'color': #444,
    'height': (
        'mobile': 65px,
        'desktop': 90px
    ),
    'cart': (
        'background': #fff,
        'color': #ff6e2c,
        'font-size': 22px
    ),
    'account': (
        'background': #01579b,
        'color': $white
    )
);

/*
|------------------------------------
| Page Title bar
|------------------------------------
*/
$page-title-bar: (
    'background': $primary-color,
    'color': #fff
);

/*
|------------------------------------
| Alternative Header
|------------------------------------
*/
$heading-alt: (
    'color': #bff14b,
    'font-family': 'Another Shabby',
    'text-transform': none ,
    'text-shadow': 2px 1px 2px rgba(0, 0, 0, 0.55) !important,
    'transform': rotate(-1deg)
);



header.page-header-two {

    .welcome-message {
        color: #fff;
    }
    nav li > .md-button {
        color: #444 !important;
        md-icon {
            color: inherit;
        }
    }
}