/*
|--------------------------------------------------------------------------
| Custom 7Lottos Mixins
|--------------------------------------------------------------------------
*/

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}

@mixin aspect-ratio-content($positionY, $positionX: false) {
    position: absolute;

    // Fill
    @if $positionY == fill and $positionX == false {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    @else {
        // Left, Middle, Right
        @if $positionX == left {
            left: 0;
            right: auto;
        }
        @else if $positionX == middle or $positionX == center {
            left: 50%;
        }
        @else if $positionX == right {
            left: auto;
            right: 0;
        }
        @else {
            left: 0;
        }

        // Top, Middle, Bottom
        @if $positionY == top {
            top: 0;
            bottom: auto;
        }
        @else if $positionY == middle or $positionY == center {
            top: 50%;
        }
        @else if $positionY == bottom {
            bottom: 0;
            top: auto;
        }
        @else {
            top: 0;
        }

        // Center styles
        @if ($positionX == middle or $positionX == center) and ($positionY == middle or $positionY == center) {
            transform: translate(-50%, -50%);
        }
        @else {
            @if $positionX == middle or $positionX == center {
                transform: translateX(-50%);
            }
            @if $positionY == middle or $positionY == center {
                transform: translateY(-50%);
            }
        }
    }
}


