/*
|--------------------------------------------------------------------------
| Page Layout Scaffold
|--------------------------------------------------------------------------
*/

$page-title-bar: (
    'background': #03A9F4,
    'color': #fff
) !default;


html {
    background-color: $body-background;
}

.page-wrapper {
    background-color: $global-page-wrapper-bg;
    overflow-x: hidden;
    @if $global-page-wrapper {
        max-width: if(unit($global-site-max-width) == '%', $global-site-max-width, rem-calc($global-site-max-width));

        // Shadow
        position:relative;
        box-shadow: 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    // 0 1px 4px
        &:before, &:after {
            content: '';
            position:absolute;
            z-index:-1;
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:10px;
            bottom:10px;
            left:0;
            right:0;
            border-radius:100px / 10px;
        }
        &:after {
            right:10px;
            left:auto;
            transform:skew(8deg) rotate(3deg);
        }
    }
}

// Sticky footer on desktop only - fixes jerky scrolling on mobile
@include breakpoint(large up) {
    .flexbox {
        body {
            // display: flex;
            // flex-direction: column;
            // height: 100vh;
            // //overflow-x: hidden;
        }
        .page-wrapper {
            // flex: 1 0 auto;
            @if not $global-page-wrapper {
                height: 100vh;
            }
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }
        .page-header {
            flex-shrink: 0;
        }
        .page-content {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
        }
        .page-footer {
            flex-shrink: 0;
        }
    }
}


.page-content {
    // @include grid-container;
    // border: 1px solid black;

    // main {
    //     @include grid-row($nest: true);
    //     border: 1px dashed blue;
    //     > article {
    //         @include grid-column(8);
    //         border: 1px dashed green;
    //     }
    //     > aside {
    //         @include grid-column(4);
    //         border: 1px dashed yellow;
    //     }
    // }
}



.subtitle {
    background: $secondary-color;
    margin-bottom: 25px;
    h2 {
        @include grid-container;
        text-transform: uppercase;
        color: map-get($page-title-bar, 'color');
        font-size: rem-calc(24px);
        padding: 10px 15px;
    }
}

.content-with-sidebar {
    @include grid-container;

    .box {
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
        border: 1px solid $medium-gray;
        min-height: 150px;
        overflow: hidden;
        padding-bottom: 15px;
        margin-bottom: 25px;
        h1, h2, h3 {
            color: $primary-color; //palette('blue', 'base');
            margin-bottom: 0px;
        }
        h4, h5, h6 {
            background-color: $primary-color; //palette('blue', 'base');
            color: #fff;
            padding: 10px 15px;
            font-size: 1em;
        }
        .padding {
            padding: 0 15px;
        }
    }

    article {
        .padding {
            padding: 10px 25px;
        }
    }

    aside {
        .md-button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@include breakpoint(large up) {
    .content-with-sidebar {
        .row {
            @include grid-row;
        }
        .row > article {
            @include grid-column(9 of 12);
        }
        .row > aside {
            @include grid-column(3 of 12);
        }
    }
}


