<main class="checkout-page">
   <section class="page-banner">
   </section>

   <section class="subtitle">
      <h2>Checkout</h2>
   </section>

   <section class="content-with-sidebar">
      <div class="row">
         <article>

            <div class="box-card no-auth" ng-if="!vm.session.authenticated">
               <h5>Please register or login to continue</h5>
               <md-button class="secondary large" ng-click="vm.register()">Register</md-button>
               <md-button class="secondary large" ng-click="vm.login()">Login</md-button>
            </div>

            <div class="box-card" ng-if="vm.session.authenticated">
               <!-- Processing messages -->
               <div class="processing">
                  <!-- <div><pre>{{ vm.processing | json }}</pre></div> -->
                  <md-progress-circular md-diameter="170" ng-if="vm.processing.processing"></md-progress-circular>
                  <feedback-message ng-if="vm.processing.success || vm.processing.error && !vm.processing.processing"
                                    ng-class="{'success': vm.processing.success, 'error': vm.processing.error}">{{ vm.processing.message }}</feedback-message>
               </div>

               <!-- Stuff to hide when processing -->
               <div ng-hide="vm.processing.processing">
                  <!-- Order complete -->
                  <div class="order-complete" ng-if="vm.orderComplete">
                     <h4>Congratulations! Your order is complete!</h4>
                     <md-button class="secondary large" ui-sref="play">Click here to play more!</md-button>
                  </div>

                  <!-- Cashier -->
                  <div class="cashier" ng-if="vm.cart.subTotal > vm.account.balance && !vm.orderComplete">
                     <h5>Pay by Card</h5>
                     <p>Please enter your card information below</p>
                     
                     <!-- Cashier form -->
                     <form class="deposit-form" name="vm.depositForm" ng-submit="vm.deposit()" novalidate>
                        <!-- <div><pre>{{ vm.depositData | json }}</pre></div> -->
                        <!-- Card Number -->
                        <md-input-container>
                           <label>Card Number</label>
                           <input type="text" name="card_number" ng-model="vm.depositData.cardNumber" maxlength="16" pattern="[0-9]{13,16}" required>
                           <div ng-messages="vm.depositForm.card_number.$error">
                              <div ng-message="required">Please enter a valid card number</div>
                           </div>
                        </md-input-container>

                        <!-- Expiry month & year -->
                        <div class="expiry">
                           <div class="half">
                              <md-input-container class="md-block" flex-gt-xs>
                                 <label>Expiry Month</label>
                                 <md-select ng-model="vm.depositData.expirationMonth" name="exp_month" required>
                                    <!-- <md-option ng-repeat="(key, value) in vm.months" value="{{value}}">{{ key }}</md-option> -->
                                    <md-option value="01">January</md-option>
                                    <md-option value="02">February</md-option>
                                    <md-option value="03">March</md-option>
                                    <md-option value="04">April</md-option>
                                    <md-option value="05">May</md-option>
                                    <md-option value="06">June</md-option>
                                    <md-option value="07">July</md-option>
                                    <md-option value="08">August</md-option>
                                    <md-option value="09">September</md-option>
                                    <md-option value="10">October</md-option>
                                    <md-option value="11">November</md-option>
                                    <md-option value="12">December</md-option>
                                 </md-select>
                                 <div ng-messages="vm.depositForm.exp_month.$error">
                                    <div ng-message="required">Please enter a valid expiry month</div>
                                 </div>
                              </md-input-container>
                              <!--
                              <md-input-container>
                                 <label>Expiry Month</label>
                                 <input type="text" ng-model="vm.depositData.expirationMonth" name="exp_month" maxlength="2" pattern="[0-9]{2,2}" placeholder="MM" required>
                                 <div ng-messages="vm.depositForm.exp_month.$error">
                                    <div ng-message="required">Please enter a valid expiry month</div>
                                 </div>
                              </md-input-container>
                              -->
                           </div>
                           <div class="half">
                              <md-input-container class="md-block" flex-gt-xs>
                                 <label>Expity Year</label>
                                 <md-select ng-model="vm.depositData.expirationYear" name="exp_year" required>
                                    <md-option ng-repeat="year in vm.years" value="{{year}}">{{ year }}</md-option>
                                 </md-select>
                                 <div ng-messages="vm.depositForm.exp_year.$error">
                                    <div ng-message="required">Please enter a valid expiry year</div>
                                 </div>
                              </md-input-container>
                              <!--
                              <md-input-container>
                                 <label>Expiry Year</label>
                                 <input type="text" ng-model="vm.depositData.expirationYear" name="exp_year" maxlength="4" pattern="[0-9]{4,4}" placeholder="YYYY" required>
                                 <div ng-messages="vm.depositForm.exp_year.$error">
                                    <div ng-message="required">Please enter a valid expiry year</div>
                                 </div>
                              </md-input-container>
                              -->
                           </div>
                        </div>

                        <!-- Security code -->
                        <div class="security-code">
                           <md-input-container>
                              <label>Security Code (CVV)</label>
                              <input type="text" name="cvv" ng-model="vm.depositData.cvv" maxlength="3" pattern="[0-9]{3,4}" name="cvv" required>
                              <div ng-messages="vm.depositForm.cvv.$error">
                                 <div ng-message="required">Please enter a valid CVV</div>
                              </div>
                           </md-input-container>
                        </div>

                        <!-- Users name -->
                        <div class="name">
                           <span>{{ vm.account.profile.firstName }} {{ vm.account.profile.lastName }}</span>
                        </div>

                        <!-- Form actions -->
                        <div class="form-actions">
                           <div class="card-logo">
                              <img src="assets/images/payment/colour/visa.svg" alt="Visa" />
                           </div>
                           <md-button class="secondary large" type="submit">Continue</md-button>
                        </div>
                     </form>
                  </div>
         
                  <!-- Empty basket -->
                  <div class="empty-basket" ng-if="vm.cart.items.length <= 0 && !vm.orderComplete">
                     <p>There are no items in your basket. Why not add some here</p>
                     <p><md-button class="secondary large" ui-sref="play">Play now!</md-button></p>
                  </div>

                  <!-- Process order button -->
                  <div class="process-order" ng-if="vm.cart.subTotal <= vm.account.balance && vm.cart.items.length > 0 && !vm.orderComplete">

                     <h5>Wallet</h5>
                     <p class="info">You currenly have {{ vm.account.balance }} {{ vm.session.currency }} in your wallet. You will be charged from this first.</p>

                     <table>
                        <tr>
                           <td><strong>Account Balance</strong></td>
                           <td>{{ vm.account.balance }} {{ vm.session.currency }}</td>
                        </tr>
                        <tr>
                           <td><strong>Order Total</strong></td>
                           <td>{{ vm.cart.subTotal }} {{ vm.session.currency }}</td>
                        </tr>
                        <tr>
                           <td><strong>Balance after purchase</strong></td>
                           <td>{{ vm.account.balance - vm.cart.subTotal }} {{ vm.session.currency }}</td>
                        </tr>
                     </table>

                     <hr />
                     <md-button ng-disabled="vm.depositForm.$invalid" class="secondary large" ng-click="vm.processOrder()">Confirm Purchase</md-button>
                  </div>
               </div>
            </div>

         </article>
         <aside>
            <playslip show-checkout="false"></playslip>
         </aside>
      </div>
   </section>
</main>