/*
|--------------------------------------------------------------------------
| Checkout Page
|--------------------------------------------------------------------------
*/


main.checkout-page {

    .box-card {
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
        border: 1px solid #cacaca;
        min-height: 150px;
        overflow: hidden;
        padding-bottom: 15px;
        margin-bottom: 25px;
        padding: 15px;
        min-height: 0;

        h1, h2, h3, h4, h5, h6 {
            color: $primary-color;
        }
    }

    // Not authenticated box
    .no-auth {
        text-align: center;
        .md-button {
            margin-bottom: rem-calc(10);
        }
    }

    // Processing styles
    .checking-deposit {
        text-align: center;
        md-progress-circular {
            margin: 0 auto;
        }
    }

    // Processing feedback
    .processing {
        md-progress-circular {
            margin: 0 auto;
        }
    }

    // Order complete
    .order-complete {
        text-align: center;
        h4 {
            text-align: center;
        }
        .md-button {
            margin: 0 auto;
        }
    }

    // Cashier
    .cashier {
        // Form
        form.deposit-form {
            //padding: 20px 20px 20px 20px;
            //background-color: #fff; //#fbfbfb;
            //box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 0px 4px 0 rgba(0,0,0,.14),0  1px 5px 0 rgba(0,0,0,.12);
            //border-radius: 3px;
            //max-width: 600px;
            position: relative;
        }

        // All inputs
        md-input-container {
            display: block;
        }

        > * > *, > * > * > *{
            //border: 1px dashed rgba(red, 0.5);
        }

        // Expiry month & year
        .expiry {
            @include clearfix;
            .half {
                width: 50%;
                float: left;
                &:first-child {
                    @include grid-gutter($sides: right);
                    //padding-right: rem-calc(40);
                }
                &:last-child {
                    //padding-left: rem-calc(40);
                    @include grid-gutter($sides: left);
                }
            }
            .md-datepicker-button {
                display: none;
            }
        }

        // Security code
        .security-code {
            @include grid-gutter($sides: right);
            max-width: 50%;
        }

        // Username
        .name {
            @include grid-gutter($sides: right);
            max-width: 50%;
            margin-bottom: 1rem;

            span {
                border-bottom: 1px dotted #CACACA;
                text-transform: uppercase;
                color: #9B9B9B;
                display: block;
                //width: 60%;
            }
        }

        // Form actions
        .form-actions {
            @include clearfix;

            // Card logo
            .card-logo {
                max-width: 100px;
                height: 36px;
                float: left;
            }

            // Continue button
            .md-button {
                float: right;
                margin: 0;
            }
        }
    }

    // Process order
    .process-order {
        text-align: center;

        p.info {
            //font-weight: bold;
            font-size: rem-calc(16);
            text-align: center;
        }

        // Table
        table {
            text-align: left;
            width: 40%;
            margin: 0 auto;

            td {
                border-top: 1px solid #ddd;
                padding: 15px 0 15px 15px;
            }
        }

        // Process order button
        .md-button {
            margin-bottom: 0;
            display: inline-block;
        }
    }
}