<article class=next-draw>

   <div class=next-draw-info ng-if=vm.product>
      <div class=logo>
         <img ng-src="/assets/images/lotteries/{{ vm.product.drawTypeId }}.png" alt="{{ vm.product.name }}">
      </div>
      <div class=info>
         <h6 class=shadow>Next Draw</h6>
         <!-- <h1 class="jackpot shadow">{{ vm.product.jackpot.value | currency }}</h1> -->
         <h1 class="jackpot shadow" ng-if="vm.product.productType == vm.productTypes.SYNDICATE">{{ vm.product.jackpot.value | jackpot }} {{ vm.session.currency }}</h1>
         <h1 class="jackpot shadow" ng-if="vm.product.productType == vm.productTypes.SINGLE_LINE">{{ vm.product.jackpot.local.value | jackpot }} {{ vm.session.currency }}</h1>
      </div>
   </div>

   <md-button ng-if=vm.product class="md-raised secondary large" ng-click=vm.play()>Play Now!</md-button>
</article>